<ul class="nav nav-tabs seller-edit-nav" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="Seller-About-tab" data-toggle="tab" href="#Seller-About-Page"
                                            role="tab" aria-controls="Seller-About-Page" aria-selected="true">About Seller</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Manage-Subscription-tab" data-toggle="tab" href="#Manage-Subscription"
                                            role="tab" aria-controls="Manage-Subscription" aria-selected="false">Manage Subscription</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="connection-manager-tab" data-toggle="tab" href="#connection-manager" role="tab" aria-controls="connection-manager" aria-selected="false">
      Connection Manager
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Delivery-Settings-tab" data-toggle="tab" href="#Delivery-Settings"
                                            role="tab" aria-controls="Delivery-Settings" aria-selected="false">Delivery Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Payment-Methods-tab" data-toggle="tab" href="#Payment-Methods" role="tab"
                                            aria-controls="Payment-Methods" aria-selected="false">Payment Methods</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Holiday-Mode-tab" data-toggle="tab" href="#Holiday-Mode" role="tab"
                                            aria-controls="Holiday-Mode" aria-selected="false">Holiday Mode</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Billing-tab" data-toggle="tab" href="#Billing" role="tab"
                                            aria-controls="Billing" aria-selected="false">Billing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Product-Listings-tab" data-toggle="tab" href="#Product-Listings" role="tab"
                                            aria-controls="Product-Listings" aria-selected="false">Product Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Account-Health-tab" data-toggle="tab" href="#Account-Health" role="tab"
                                            aria-controls="Account-Health" aria-selected="false">Account Health</a>
  </li>
</ul>
