<p>Seller, It’s time to welcome you to the Yavolo platform.</p>
<p>We’re so excited for you to be a part of our bundle-powered launch.</p>
<p>Your account has been created and is pending verification from admin.</p>
<p>Once admin approves it, you will receive an email for your account activation.</p>

<p>Thanks</p>
<p>Yavolo Team</p>