<div class="tab-pane fade" id="connection-manager" role="tabpanel" aria-labelledby="connection-manager-tab">
  <section class="connection-manager">
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
      <div>
        <h5 class="mb-0">About You</h5>
      </div>
      <div> <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-1">Primary</a>
      </div>
    </div>
    <div class="Yavolo-table">
      <table class="table">
        <thead>
          <tr>
            <th>developer name</th>
            <th>developer id</th>
            <th>app name</th>
            <th>status</th>
            <th>expiry date</th>
            <th>MWS authorisation taken</th>
            <th class="text-center" width="5%">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Edit</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>xyz100</td>
            <td>1000</td>
            <td>monthly membership</td>
            <td>12/12/21</td>
            <td>12/12/21</td>
            <td>
              <a href="">
                <u> View</u>
              </a>
            </td>
            <td class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Remove</a>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100">Disable</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
