<div class="tab-pane fade" id="connection-manager" role="tabpanel" aria-labelledby="connection-manager-tab">
  <section class="connection-manager">
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
      <div>
        <h5 class="mb-0">Manage Your Connections</h5>
      </div>
      <div>
        <%= link_to 'Authorise New Developer', new_sellers_connection_manager_path(id: @seller.id), class: 'btn btn-sm btn-radius px-4 btn-primary mb-1', remote: true %>
      </div>
    </div>
    <div class="Yavolo-table">
      <table class="table">
        <thead>
          <tr>
            <th>developer name</th>
            <th>developer id</th>
            <th>app name</th>
            <th>status</th>
            <th>expiry date</th>
            <th>MWS authorisation token</th>
            <th class="text-center" width="5%">actions</th>
          </tr>
        </thead>
        <tbody class="connection-manager-table-body">
          <%= render 'shared/sellers/connection_manager_seller_apis', seller_apis: @seller_apis %>
        </tbody>
      </table>
    </div>
  </section>
</div>
