<h3 class="pb-4 confirmation-text">Remove Delivery Template</h3>
<p class="pb-4 confirmation-text remove-text-heading">Would you like to remove following template?</p>
<p class="pb-4 confirmation-text"><%= delivery_option.name %></p>
<div class="text-center">
  <%= link_to 'REMOVE', destroy_delivery_template_sellers_profile_path(delivery_option), method: 'delete', remote: true, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
</div>
