<div class="tab-pane fade" id="holiday-mode" role="tabpanel" aria-labelledby="holiday-mode-tab">
  <section class="holiday-mode yo-white-card box-border pb-0">
    <h6>Holiday Mode</h6>
    <div class="d-flex ">
      <div class="pr-5">
        <label class="checkbox-blk">Enable
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label class="checkbox-blk">Disable
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </section>
</div>
