<div class="tab-pane fade" id="integrate-payment-method" role="tabpanel" aria-labelledby="integrate-payment-method-tab">
  <section class="payment-method">
    <h5>Payment Methods</h5>
    
    <div class="payment-method-inner">
      <%= render 'sellers/bank_accounts/bank_account_for_payouts'%>
    </div>
    <div id="payment-methods-list-render-by-js">
      <%= render 'payment_methods_list', payment_methods: @payment_methods %>
    </div>
    <%= render 'sellers/paypal_integration/paypal_integration_module'%>
  </section>
</div>
