<div class="tab-pane fade" id="integrate-payment-method" role="tabpanel" aria-labelledby="integrate-payment-method-tab">
  <section class="paypal-payment-method yo-white-card box-border pb-0">
    <h5>Payment Method</h5>
    <%= render 'sellers/paypal_integration/paypal_integration_module'%>
  </section>
</div>
