<div class="tab-pane fade" id="Manage-Subscription" role="tabpanel" aria-labelledby="Manage-Subscription-tab">
  <section class="seller-subscription-section">
    <h5>Subscription</h5>
    <div class="subscription-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="yo-white-card">
            <%= render 'sellers/subscriptions/current_subscription'%>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
