<div class="tab-pane fade" id="Reviews" role="tabpanel"
                                        aria-labelledby="Manage-Subscription-tab">
  <section class="seller-subscription-section">
    <h5>Subscripion</h5>
    <div class="subscription-inner">
      <div class="row">
        <div class="col-md-8">
          <div class="yo-white-card seller-edit-card box-border">
            <table class="table mt-2 subscription-table">
              <tbody>
                <tr>
                  <td>User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td>User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td>User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td>User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr class="align-items-center">
                  <td>User Email</td>
                  <td class="p-0">
                    <select class="form-control input-btn-sm select-width">
                      <option>ArvindPanchmatia@gmail.co.uk
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
