<div class='nested-fields'>
  <%= f.label :category_name%>
  <%= f.text_field :category_name %>
  <%= link_to_remove_association f,class: 'filter_categories' do %>
  <span> <i class="fas fa-minus"></i></span>
  <p class="pl-2">Filter Category</p>
  <% end %>
</div>
