<%= form_tag sellers_otp_secret_index_path, method: :post do %>
  <%= hidden_field_tag :otp_secret, @otp_secret  %>
  <br />
  <%= image_tag @qr_code %>
  <br />
  <label for="exampleInputPassword1">Authenticator code:</label>
  <%= text_field_tag :otp_attempt, label: "Verify (enter a one-time password)" %>
<% end %>