<footer class="sign-in-yo-footer">
  <div class="container-fluid">
    <div class="text-center seller-hub-footer-inner">
      <span class="icon-Yavolo-logo yo-icon-footer"></span>
    </div>
  </div>
</footer>