<%= render "sellers/orders/filter_by", title: "Oldest Orders", sortby: "id asc" %>
<%= render "sellers/orders/filter_by", title: "Newest Orders", sortby: "id desc" %>
<%= render "sellers/orders/filter_by", title: "Order Total High-Low", sortby: "sub_total desc" %>
<%= render "sellers/orders/filter_by", title: "Order Total Low-High", sortby: "sub_total asc" %>
<a class="dropdown-item" href="#">Sold As Yavolo</a>