<% [:all_orders, :shipped_today, :all_unshipped, :all_shipped, :returns, :requested_returns, :cancelled].each do |tab| %>
  <li class="nav-item">
    <%= link_to sellers_orders_path(tab: tab), class: "nav-link d-flex justify-content-between align-items-center #{set_active_tab(tab.to_s, params[:tab] || 'all')}" do %>
      <%= "#{tab}".titleize %><span><%= "#{tab}".titleize == "All Orders" ? @listing_by_order_status_with_count : 0 %></span>
    <% end %>
  </li>
<% end %>