<tr>
  <th>
    <label class="checkbox-blk">
      <input type="checkbox" id="check-all-checkboxes">
      <span class="checkmark checkmark-white"></span>
    </label>
  </th>
  <th>Order Date</th>
  <th>Order Detail</th>
  <th>
    <table class="seller-order-sub-table">
      <tr>
        <th>Image</th>
        <th>Product Name</th>
      </tr>
    </table>
  </th>
  <th>Shipping Info</th>
  <th>Status</th>
  <th class="text-center" width="5%">Action</th>
</tr>