<tr>
  <th>
    <label class="checkbox-blk">
      <input type="checkbox" id="" class="order-mark-bulk-update">
      <span class="checkmark checkmark-white"></span>
    </label>
  </th>
  <th>Order Date</th>
  <th>Order Details</th>
  <th>
    <table class="seller-order-sub-table">
      <tr>
        <th> 
          <div class="d-flex">
            <span>Image</span> 
            <span class="pl-4">Product Name</span>
          </div>
        </th>
      </tr>
    </table>
  </th>
  <th>Shipping Info</th>
  <th>Status</th>
  <th class="text-center" width="5%">Action</th>
</tr>
