<div class="container-fluid y-page-container">
  <div class="d-flex flex-wrap justify-content-between mb-4 mt-5 align-items-start">
    <h4 class="m-0">Issue a Refund</h4>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="mt-4 mb-4">
        <%= link_to "#{current_seller.present? ? sellers_orders_path : admin_order_path(@order)}", class: "red-text decoration-none btn-light-hvr px-3 py-2 btn-radius align-items-center" do %>
          <span class="icon-chevron-left-solid pr-2 mm-text"></span>
          Back
        <% end %>
      </div>
      <%= render partial: "shared/refunds/new_refund_form", locals: { refund: @refund, order: @order, commission: @commission } %>
    </div>
  </div>
</div>