<header class="main-header py-2">
  <div class="container-fluid pdp-pad">
    <div class="steps-header">
      <a class="navbar-brand" href="#">
        <span>
          <%= image_tag 'Yavolo_Logo_WarmRed.png', width: '160' %>
        </span>
      </a>
      <div class="innerSteps" data-url="<%= action_name %>">
        <ul>
          <li class="checkout-new">
            <span class="icon-check"></span>
            <p class="mb-0">Your Details</p>
          </li>
          <li class="checkout-payment-method">
            <span class="icon-check"></span>
            <p class="mb-0">Payment</p>
          </li>
          <li class="checkout-review-order">
            <span class="icon-check"></span>
            <p class="mb-0">Review Your Order</p>
          </li>
        </ul>
      </div>
      <a href="#" class="d-inline-flex align-items-center decoration-none text-white"><span class="mr-3 icon-Secure-checkout red-text"></span> Secure Checkout</a>
    </div>
  </div>
</header>
