<div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="mt-4 mb-3">Manage Yavolos</h3>
    </div>
  </div>
  <div class="row ac-setting-tabs mt-3">
    <%= render "admin/yavolos/product_assignments/sidebar_tabs" %>
    <div class="col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="waiting-room" role="tabpanel"
             aria-labelledby="bundle-creation-tab">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
              <div class="dropdown-filter-field active my-1 dropdown-filter-custom dropdown-filter-position mr-2">
                <div class="dropdown">
                  <a class="btn btn-radius btn-sm px-2 btn-primary current-search-filter min-width-140" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search All<svg class="svg-inline--fa fa-angle-down fa-w-10 ml-2" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg><!-- <i class="fa fa-angle-down ml-2" aria-hidden="true"></i> Font Awesome fontawesome.com -->
                  </a>
                  <div class="dropdown-menu seller-products-filters cls-admin-orders-filters" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                    <a class="dropdown-item active" href="#">Search All<i class="fa fa-check" aria-hidden="true"></i></a>
                    <a class="dropdown-item" href="#">Username<i class="fa fa-check" aria-hidden="true"></i></a>
                    <a class="dropdown-item" href="#">Email<i class="fa fa-check" aria-hidden="true"></i></a>
                  </div>
                </div>

                <div class="search-field mb-0 ">
                  <form class="order_search" id="order_search" action="/admin/orders" accept-charset="UTF-8" method="get">
                    <input type="hidden" name="filter_type" id="order-filter-type" value="">
                    <input type="hidden" name="csfname" id="csfn" value="line_items_product_title_or_order_number_or_line_items_product_owner_of_Seller_type_full_name_or_order_detail_full_name_or_line_items_product_sku_cont">
                    <input class="input-btn-sm admin-order-search-field min-width-200" placeholder="Search order" value="" type="search" name="q[line_items_product_title_or_order_number_or_line_items_product_owner_of_Seller_type_full_name_or_order_detail_full_name_or_line_items_product_sku_cont]" id="q_line_items_product_title_or_order_number_or_line_items_product_owner_of_Seller_type_full_name_or_order_detail_full_name_or_line_items_product_sku_cont">
                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fa fa-search" aria-hidden="true"></i> Font Awesome fontawesome.com -->
                  </form>        </div>
              </div>
              <%= render 'shared/result_per_page_dropdown', url_path:'acd' %>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-1">Export
                CSV</a>
            </div>
          </div>
          <div class="mt-3" id="total-sellers-per-page">
            <p>Results: <span>1 - 11</span> of <span>11</span></p>
          </div>
          <div class="Yavolo-table">
            <table class="table">
              <thead>
              <tr>
                <th>
                  <label class="checkbox-blk">
                    <input type="checkbox" class="mark-bulk-update">
                    <span class="checkmark checkmark-white"></span>
                  </label>
                </th>
                <th>Username</th>
                <th>Email</th>
                <th class="text-center">Seller Since</th>
                <th class="text-center">Ya Products</th>
                <th class="text-center">Volo Products</th>
                <th class="text-center">Ya/Volo Products</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-blk">
                    <input type="checkbox" name="product_ids[]" class="product_ids" value="14">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>Username1</td>
                <td>roni_cost@example.com</td>
                <td class="text-center">15/05/2021</td>
                <td class="text-center">55</td>
                <td class="text-center">23</td>
                <td class="text-center">12</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>