<div id="<%= address.address_type %>">
  <h5 class="text-center" style="text-transform: capitalize;"><%= address.address_type.humanize %></h5>
  <% if address.id.present? %>
    <table class="table mt-2">
      <tbody>
      <tr>
        <!--<td class="">Address Line 1:</td>-->
        <td>
          <%= simple_format(address_format(address)) %>
        </td>
      </tr>
      <tr>
        <td class="">Phone number:</td>
        <td><%= address.phone_number.present? ? address.phone_number : "" %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>

