<div class="tab-pane fade" id="connection-manager" role="tabpanel" aria-labelledby="connection-manager-tab">
  <section class="connection-manager">
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
      <div>
        <h5 class="mb-0">
        Manage Your Connections
        <% if current_admin.present? && admin_seller_route?(params[:controller]) %>
          <% text = @seller.eligible_to_create_api == true ? "Disable API creation" : "Enable API creation" %>
          <% class_to_include = @seller.eligible_to_create_api == true ? "btn-danger" : "btn-primary" %>
          <%= link_to "#{text}", confirm_change_seller_api_eligibility_admin_seller_path(@seller, param_to_update: "eligibility", came_from: 'connection_manager'), class: "btn btn-sm btn-radius px-4 #{class_to_include} mb-1 current-action", remote: true, id: "#{@seller.id}-eligibility" %>
        <% end %>
        </h5>
      </div>
      <div>
        <% if (current_seller.present? && current_seller.eligible_to_create_api) || (current_admin.present? && admin_seller_route?(params[:controller])) %>
          <%= link_to 'Authorize New Developer', seller_api_url(params[:controller], @seller), class: 'btn btn-sm btn-radius px-4 btn-primary mb-1', remote: true %>
        <% end %>
      </div>
    </div>
    <div class="Yavolo-table">
      <table class="table">
        <thead>
          <tr>
            <th>developer name</th>
            <th>developer ID</th>
            <th>app name</th>
            <th>status</th>
            <th>expiry date</th>
            <th class="text-center">MWS authorisation taken</th>
            <th class="text-center" width="5%">actions</th>
          </tr>
        </thead>
        <tbody class="connection-manager-table-body">
          <%= render 'shared/sellers/connection_manager_seller_apis', seller_apis: @seller_apis %>
        </tbody>
      </table>
    </div>
  </section>
</div>
