
<div class="modal fade" id="<%=modal_id%>" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-4  py-0">
        <div class="end-subscription-modal text-center">
          <div class="mb-3">
            <span class="icon-end-subscription red-text endsub-icon"> 
            </span>
          </div>
          <h5>End Subscription</h5>
          <p><%=confirm_statement%></p>
          <div class="d-flex align-items-center form-group-vertical-responsive mb-3">
            <label id="reason-input-field_label" for="" class="pr-2">Please provide a reason for your cancellation:</label>
            <%= render 'shared/sellers/reason_dropdown_block'%>
          </div>
          
          <div class="row align-items-start text-right mb-3">
            <div class="col-lg-6 mb-0 align-items-center form-group-vertical-responsive  text-right pr-0">
              <label class=" reason-label align-items-start font14 mb-0 ">Other:</label>
            </div>
            <div class="col-lg-6 text-left">
              <div class="other-reason pl-2 mb-0"></div>
            </div>
        
          </div>
          <%= link_to "END SUBSCRIPTION",path||"#", data: data||{}, id: id, class: 'btn btn-sm btn-radius px-4 btn-primary'  %>
        </div>
      </div>
      <div class="modal-footer justify-content-center footer-upper-border">
      </div>
    </div>
  </div>
</div>