<div class="tab-pane fade" id="holiday-mode" role="tabpanel" aria-labelledby="holiday-mode-tab">
  <section class="holiday-mode yo-white-card box-border pb-0">
    <h6>Holiday Mode</h6>
    
      <%= simple_form_for @seller, url: url, html: {class: 'pl-3 mt-2'}, remote: true do |form| %>
        <div class="d-flex">
          <div class="pr-5">
            <label class="checkbox-blk mt-2">Enabled
              <%= form.radio_button :holiday_mode, '1', checked: @seller.holiday_mode, class: '' %>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="checkbox-blk mt-2">Disabled
              <%= form.radio_button :holiday_mode, '0', checked: !@seller.holiday_mode, class: '' %>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <%= form.submit 'Save', class: "btn btn-radius px-4 btn-primary mb-3" %>
      <% end %>
    
  </section>
</div>
