<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="About-You-tab" data-toggle="tab"
                                            href="#About-You" role="tab" aria-controls="About-You"
                                            aria-selected="true">About You</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews"
                                            role="tab" aria-controls="Reviews" aria-selected="false">Reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Manage-Subscription-tab" data-toggle="tab"
                                            href="#Manage-Subscription" role="tab" aria-controls="Manage-Subscription"
                                            aria-selected="false">Manage Subscription</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Delivery-Settings-tab" data-toggle="tab"
                                            href="#Delivery-Settings" role="tab" aria-controls="Delivery-Settings"
                                            aria-selected="false">Delivery Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="return-term-tab" data-toggle="tab" href="#return-term"
                                            role="tab" aria-controls="return-term" aria-selected="false">Return &
      Terms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="login-settings-tab" data-toggle="tab"
                                            href="#login-settings" role="tab" aria-controls="login-settings"
                                            aria-selected="false">Login setings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="connection-manager-tab" data-toggle="tab"
                                            href="#connection-manager" role="tab" aria-controls="connection-manager"
                                            aria-selected="false">Connection Manager</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="holiday-mode-tab" data-toggle="tab" href="#holiday-mode"
                                            role="tab" aria-controls="holiday-mode" aria-selected="false">Holiday
      mode</a>
  </li>
</ul>
