<%= render "shared/overview" %>
<%= render "shared/histogram" %>
<%= render "shared/top_search" %>
<section class="top-search">
  <div class="">
    <div class="row">
      <div class="col-lg-6">
        <div class="top-search-term pt-5">
          <h3 class="red-color">
            Market Favourites
          </h3>
          <div class="seller-product-table">
            <table class="table m-0">
              <thead class="seler-table-header">
                <tr>
                  <th class="text-left pl-3">Product
                  </th>
                  <th class="text-center">Sales</th>
                  <th class="text-center">Revenue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex ">
                      <span class="imglist" width="100%"></span>
                      <span class=" pl-2">Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                      elit,</span>
                    </div>
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="notifications pt-5">
          <h3 class="red-color">
            Market Leaders
          </h3>
          <div class="seller-product-table">
            <table class="table m-0">
              <thead class="seler-table-header">
                <tr>
                  <th class="text-left pl-3">Seller
                  </th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Revenue</th>
                  <th class="text-center">Sales</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
                <tr>
                  <td class="text-left pl-3">
                    <span>seller123</span> <br>
                    <span>seller@gmail.com</span>
                  </td>
                  <td class="text-center">
                    Category123
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td class="text-center">
                    1250
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="latest-orders pb-4">
  <div class="">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="pt-5 red-color">
          Latest Orders
        </h3>
        <div class="seller-product-table">
          <table class="table m-0">
            <thead class="seler-table-header">
              <tr>
                <th class="text-left pl-3">
                  Order ID
                </th>
                <th class="text-center">Customer</th>
                <th class="text-center">Email</th>
                <th class="text-center">Status</th>
                <th class="text-center">Total</th>
                <th class="text-center">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
              <tr>
                <td class="text-left pl-3">
                  12000
                </td>
                <td class="text-center">
                  Catergory123
                </td>
                <td class="text-center">
                  ahsan.zafar@gmail.com
                </td>
                <td class="text-center">
                  Pending
                </td>
                <td class="text-center">
                  1213
                </td>
                <td class="text-center">
                  <svg enable-background="new -0.709 -32.081 141.732 141.732"  id="Livello_1" version="1.1" viewBox="-0.709 -32.081 141.732 141.732" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_80"><path style="fill: #640529" d="M89.668,38.786c0-10.773-8.731-19.512-19.51-19.512S50.646,28.01,50.646,38.786c0,10.774,8.732,19.511,19.512,19.511   C80.934,58.297,89.668,49.561,89.668,38.786 M128.352,38.727c-13.315,17.599-34.426,28.972-58.193,28.972   c-23.77,0-44.879-11.373-58.194-28.972C25.279,21.129,46.389,9.756,70.158,9.756C93.927,9.756,115.036,21.129,128.352,38.727    M140.314,38.76C125.666,15.478,99.725,0,70.158,0S14.648,15.478,0,38.76c14.648,23.312,40.591,38.81,70.158,38.81   S125.666,62.072,140.314,38.76"/></g><g id="Livello_1_1_"/></svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</section>
