<header class="main-header py-2">
  <div class="container-fluid pdp-pad">
    <div class="px-lg-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light px-0">
        <a class="navbar-brand" href="#">
          <span>
            <%= image_tag "Yavolo_Logo_WarmRed.png" %>
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="form-inline">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search for products or brands" aria-label="Search">
            <a href="#"><i class="fas fa-search"></i></a>
          </div>
          <ul class="navbar-nav navbar-nav-icons ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="icon-navigation-bar-favourite"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="icon-navigation-user"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="icon-navigation-product"></i></a>
            </li>
          </ul>
        </div>

      </nav>
      <div class="px-0">
        <ul class="navbar-nav d-flex justify-content-between flex-row inner-menu">
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Shop</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Daily Deals</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Trending</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Discover Yavolo</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Blog</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Resource Centre</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>