<footer  class="pdp-footer-2">
  <div class="container-fluid pdp-pad">
    <div class="px-lg-5">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="d-flex align-items-center mb-2 mt-2">
            <div>
                <span class="yo-logo">
                  <%= image_tag "Yavolo_Logo_WarmRed.png", alt: "", class: "logo-img mb-2" %>
                </span>
                <p class="mb-0">A good deal better.</p>
            </div>
            <div>
                <span class="font-14px pl-4">© Yavolo 2021</span>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <ul class="pdp-footer-2-list">
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Privacy Policy</a>
            </li>
            <li>
              <a href="/contact_us">Contact Us</a>
            </li>
            <li>
                <a href="">GDPR</a>
            </li>
            <li>
                <a href="">Terms & Conditions</a>
            </li>
            <li class="pr-0">
                <a href="">Sale on Yavolo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>      
  </div>
</footer>
