<p>Hi,</p>
<p>We’re so sorry to hear you wish to stop selling your amazing products with us on Yavolo.</p>
<p>Your subscription is canceled but you can enjoy all the perks that come with a Yavolo subscription till current subscription end date.</p>
<p>If you change your mind until current subscription end date and want to join Yavolo again please contact support team.</p>