<p>Hi,</p>
<p>We’re so sorry to hear you wish to stop selling your amazing products with us on Yavolo.</p>
<p>A member of our team will be in touch with you shortly. In the meantime, continue to enjoy all the perks that come with a Yavolo subscription.</p>