<h3>Subscription cancel request</h3>
<p>Seller: <a href = "mailto: <%=@seller_email%>"><%=@seller_email%></a></p>
<p>Reason: <%=@reason if @reason.present?%></p>
<p>Seller requested to cancel his subscription.</p>
