<table class="table mt-2 subscription-table">
  <tbody>
    <tr>
      <td >Subscription status</td>
      <td >Canceled</td>
    </tr>
    <tr>
      <td>Canceled at:</td>
      <td><%= canceled_at%></td>
    </tr>
  </tbody>
</table>
<a href="#" name="<%= subscription_renew_path %>" class="btn btn-sm btn-radius px-4 btn-primary mb-3 renew-seller-subscription">Renew Subscription</a>