<div class="main-content">
  <div class="container-fluid pdp-pad">
    <div class="px-xl-5 mt-4">
      <%= link_to buyers_profile_path(current_buyer), class:"buyer-card-link red-text decoration-none btn-light-hvr btn-radius py-2 px-3 mr-5" do %>
        <span class="icon-chevron-left-solid pr-2 mm-text back-button-position"></span>Back to account <%end%>
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mt-3">Your Addresses</h2>
        <a href="#" class="btn btn-sm btn-radius px-4 btn-primary">ADD NEW ADDRESS </a>
      </div>
      <div class="row">
        <div class="col-lg-4 d-flex">
          <div class="yo-white-card  box-border seller-edit-card">
            <div>
              <h3 class="mt-0">Home (Default Address)</h3>
              <ul>
                <li>27 Perivale Business Park</li>
                <li>Horsenden lane South</li>
                <li>Perivale ,Greenford</li>
                <li>Middlesex</li>
                <li>UB6 7RH</li>
                <li>GB</li>
              </ul>
              <div class="pt-4 pb-3">
                <span>Phone Number: 07123456789</span>
              </div>
            </div>
            <div class="">
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary w-100">UPDATE ADDRESS </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="yo-white-card  box-border seller-edit-card">
            <div class="">
              <div>
                <h3 class="mt-0">Parent's Home</h3>
                <ul>
                  <li>27 Perivale Business Park</li>
                  <li>Horsenden lane South</li>
                  <li>Perivale ,Greenford</li>
                  <li>Middlesex</li>
                  <li>UB6 7RH</li>
                  <li>GB</li>
                </ul>
              </div>
              <div class="pt-4 pb-3">
                <span>Phone Number: 07123456789</span>
              </div>
            </div>
            <div class="">
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary w-100">UPDATE ADDRESS </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="yo-white-card  box-border seller-edit-card">
            <div>
              <h3 class="mt-0">Billing Address</h3>
              <ul>
                <li>27 Perivale Business Park</li>
                <li>Horsenden lane South</li>
                <li>Perivale ,Greenford</li>
                <li>Middlesex</li>
                <li>UB6 7RH</li>
                <li>GB</li>
                <li>27 Perivale Business Park</li>
                <li>Horsenden lane South</li>
                <li>Perivale ,Greenford</li>
                <li>Middlesex</li>
                <li>UB6 7RH</li>
              </ul>
              <div class="pt-4 pb-3">
                <span>Phone Number: 07123456789</span>
              </div>
            </div>
            <div class="">
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary w-100">UPDATE ADDRESS </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="yo-white-card  box-border seller-edit-card">
            <div>
              <h3 class="mt-0">Uni Flat</h3>
              <ul>
                <li>27 Perivale Business Park</li>
                <li>Horsenden lane South</li>
                <li>Perivale ,Greenford</li>
                <li>Middlesex</li>
                <li>UB6 7RH</li>
                <li>GB</li>
              </ul>
              <div class="pt-4 pb-3">
                <span>Phone Number: 07123456789</span>
              </div>
            </div>
            <div class="">
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary w-100">UPDATE ADDRESS </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>