<div class="main-content">
  <div class="container-fluid pdp-pad">
    <div class="px-xl-5 mt-4">
      <%= link_to buyers_profile_path(current_buyer), class:"back-account-link red-text decoration-none btn-light-hvr btn-radius py-2 px-3" do %>
        <span class="icon-chevron-left-solid pr-2 mm-text chev-position relative"></span>Back to account <%end%>
      <h2 class="my-3">Newsletter</h2>
      <p class="news-join-text">Join thousands of subscribers currently receiving the best Yavolo deals!</p>
      <div class="row">
        <div class="col-lg-7">
          <div class="yo-white-card box-border">
            <p class="font-20px">
              <strong> Sign up below & get the most out of Yavolo:</strong>
            </p>
            <form action="" class="">
              <div class="d-flex flex-wrap mb-3 row">
                <div class="search-field col-lg-8">
                  <input type="text" placeholder="Enter your email" class="">
                </div>
                <div class="col-lg-4">
                  <a href="#" class="btn btn-radius px-5 btn-danger newsletter-subscribe-button">SUBSCRIBE</a>
                </div>
              </div>
            </form>
            <label class="checkbox-blk">Offers & discounts <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-blk">Invitations to surveys & beta testing <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-blk">New product launches <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-blk">Blog updates <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-blk">Message notifications <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-blk">Weekly email updates <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>