<div class="tab-pane fade" id="Manage-Subscription" role="tabpanel"
                                aria-labelledby="Manage-Subscription-tab">
  <section class="seller-subscription-section">
    <div id="refresh-manage-subscription-block">
      <%= render 'manage_and_renewal_subscription_block'%>
    </div>
  </section>
</div>