<p class="pb-4 confirmation-text" id="updateable-text">Are you sure you want to perform this action on seller? </p>
<div class="carrier-btn text-center">
  <div class="btn btn-sm btn-radius px-4 btn-primary mt-2" data-dismiss="modal">
    No
  </div>
  <%= link_to 'DISABLE', change_seller_api_eligibility_admin_seller_path(field_to_update: params[:param_to_update], came_from: params[:came_from]), remote: true, method: :patch, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
</div>
