<p class="confirmation-text text-center" id="updateable-text">
  You have successfully issued a password reset.
</p>
<div class="text-center mb-4">
  <button type="button" class="btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2" data-dismiss="modal" aria-label="Close">
    BACK TO EDIT
  </button>
</div>
