<div id="current-sub-update-admin">
  <form id="admin-subscription-form" >
    <% if subscription_status_active_or_not_started? %>
    <%= render 'shared/subscription_information_block'%>
    <%elsif subscription_canceled? %>
      <%= render 'shared/display_on_subscription_canceled'%>
    <%else%>
      <div><h6>Not subscribed yet.<h6></div>
    <%end%>
  </form>
</div>