<p class="confirmation-text text-center" id="updateable-text">
  Would you like to send a password reset to the following user?
</p>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div>
      <div class="row">
        <div class="col-lg-4">
          <p>Name:</p>
        </div>
        <div class="col-lg-8">
          <%= name %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p>Email:</p>
        </div>
        <div class="col-lg-8">
          <%= email %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mb-4">
  <%= link_to 'SEND PASSWORD RESET', reset_password_token_admin_seller_path, remote: true, method: :patch, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
</div>
