<div class="tab-pane fade" id="Payment-Methods" role="tabpanel" aria-labelledby="Payment-Methods-tab">
  <section class="payment-method">
    <h5>Payment Methods</h5>
    <div class="payment-method-inner">
      <%= render 'admin/sellers/bank_account_for_payouts'%>
    </div>
    <%= render 'seller_cards_list', seller: @seller%>
    <div class="payment-method-inner ">
      <h6 class="pt-3">Linked PayPal account</h6>
      <%= render 'show_paypal_integration', seller: @seller%>
    </div>
  </section>
</div>