<% if @seller&.paypal_detail&.integration_status?%>
    <div class="Yavolo-table">
    <table class="table">
      <thead>
        <tr>
          <th width="25%">Account email</th>
          <th width="25%"></th>
          <th width="25%"></th>
          <th width="25%">System</th>
        </tr>
      </thead>	
      <tbody>
        <tr>
          <td><%= @seller&.paypal_detail&.seller_merchant_id_in_paypal || "seller@gmail.com" %></td>
          <td></td>
          <td></td>
          <td>PayPal</td>
        </tr>
      </tbody>
    </table>
    </div>  
    <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
<%else%>
  <div class="payment-method-card yo-white-card box-border p-0">
    <p class="mm-text py-3 pl-3">Paypal account not connected yet</p>
  </div>
<%end%>
