<div class="container-fluid">
<div class="seller-hdng pt-4"><h3 class="">Seller Account Edit</h3></div>
  <div class="d-flex flex-wrap justify-content-between mb-4 mt-4 align-items-start">
    <h4 class="m-0">Seller Account
      &amp; Settings</h4>
    <div class="d-flex align-items-center">
      <p class="pr-1 mb-0">Seller Locked</p>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mr-1">Reset password</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mr-1">Unlock</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mr-1">Back</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-primary">Save</a>
    </div>
  </div>
  <div class="row ac-setting-tabs">
    <div class="col-md-3">
      <%= render 'shared/admin/sellers/left_sidebar' %>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="myTabContent">
      <%= render 'shared/sellers/about_seller_section' %>
        <%= render 'shared/sellers/connection_manager_section' %>
        <div class="tab-pane fade" id="Manage-Subscription" role="tabpanel"
                                        aria-labelledby="Manage-Subscription-tab">
          <section class="seller-subscription-section">
            <h5>Subscripion</h5>
            <div class="subscription-inner">
              <div class="row">
                <div class="col-md-8">
                  <div class="yo-white-card">
                    <table class="table mt-2 subscription-table">
                      <tbody>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr class="align-items-center">
                          <td>User Email</td>
                          <td class="p-0">
                            <select class="form-control input-btn-sm select-width">
                              <option>ArvindPanchmatia@gmail.co.uk</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Delivery-Settings" role="tabpanel"
                                        aria-labelledby="Delivery-Settings-tab">3
        </div>
        <div class="tab-pane fade" id="Payment-Methods" role="tabpanel" aria-labelledby="Payment-Methods-tab">
          <section class="payment-method">
            <h6>Payment Methods</h6>
            <div class="payment-method-inner">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Holiday-Mode" role="tabpanel" aria-labelledby="Holiday-Mode-tab">
          <section class="holiday-mode yo-white-card box-border pb-0">
            <h6>Holiday Mode</h6>
            <div class="d-flex ">
              <div class="pr-5">
                <label class="checkbox-blk">Enable
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="checkbox-blk">Disable
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Billing" role="tabpanel" aria-labelledby="Billing-tab">
          <section class="billing">
            <div class="Yavolo-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>invoice#</th>
                    <th>total</th>
                    <th>description</th>
                    <th>dete granted</th>
                    <th>due date</th>
                    <th>status</th>
                    <th class="text-center" width="5%">change status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Product-Listings" role="tabpanel" aria-labelledby="Product-Listings-tab">4
        </div>
        <div class="tab-pane fade" id="Account-Health" role="tabpanel" aria-labelledby="Account-Health-tab">4
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Modal -->
<div class="modal fade" id="editTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-5">
        <div id="error-message"></div>
        <div id="update-seller-form"></div>
      </div>
    </div>
  </div>
</div>

<!-- Seller API Modal -->
<div class="modal fade" id="seller-api-modal" tabindex="-1" role="dialog" aria-labelledby="sellerapiFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seller-api-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error-message"></div>
        <div id="seller-api-actions"></div>
      </div>
    </div>
  </div>
</div>