<div class="mb-2">
  <span class="rev-und">Featured Reviews</span>
</div>
<div class="review-slider">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="review-card">
          <div class="review-header d-flex justify-content-between">
            <span>John Smith</span>
            <span>22/04/2021</span>
          </div>
          <ul class="rating d-flex mb-2">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
          </ul>
          <div class="d-flex">
            <div>
              <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                malesuada, posuere dui eget, placerat nisi. Donec lacus
                magna,
                imperdiet nec molestie et.</p>
            </div>
            <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="review-card">
          <div class="review-header d-flex justify-content-between">
            <span>John Smith</span>
            <span>22/04/2021</span>
          </div>
          <ul class="rating d-flex mb-2">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
          </ul>
          <div class="d-flex">
            <div>
              <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                malesuada, posuere dui eget, placerat nisi. Donec lacus
                magna,
                imperdiet nec molestie et.</p>
            </div>
            <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="review-card">
          <div class="review-header d-flex justify-content-between">
            <span>John Smith</span>
            <span>22/04/2021</span>
          </div>
          <ul class="rating d-flex mb-2">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
          </ul>
          <div class="d-flex">
            <div>
              <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                malesuada, posuere dui eget, placerat nisi. Donec lacus
                magna,
                imperdiet nec molestie et.</p>
            </div>
            <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-arrow-parent invisible">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
         data-slide="prev">
                                            <span class="carousel-control-prev-icon icon-chevron-left-solid"
                                                  aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button"
         data-slide="next">
                                            <span class="carousel-control-next-icon icon-chevron-right-solid"
                                                  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>
