<p id="export-seller-failure" class="flash-toast notice">
  Select at least one seller
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>
<p id="export-seller-email" class="flash-toast notice">
  Sellers have been exported via email
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>
<p id="export-seller-sucsess" class="flash-toast notice">
  Sellers have been exported successfully!
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>