<script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
$(document).ready(function(){
  // You can customiz following function in admin.js file to pass real data as params
window.renderHistogram();
})
</script>
