<div class="col-md-6">
  <div class="notifications pt-5">
    <h3 class="red-color">
      Markete Leaders
    </h3>
    <div class="seller-product-table">
      <table class="table m-0">
        <thead class="seler-table-header">
          <tr>
            <th>Seller
            </th>
            <th>Catagory</th>
            <th>Revenue</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
          <tr>
            <td>
              <span>seller123</span> <br>
              <span>seller@gmail.com</span>
            </td>
            <td>
              Catagory123
            </td>
            <td>
              5
            </td>
            <td>
              1250
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
