<section class="overview pt-4 pb-1">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="overview-inner d-flex justify-content-between align-items-center flex-wrap">
          <div class="overview-left">
            <h3 class="red-color mb-0">
              Overview
            </h3>
          </div>
          <div class="dropdown dropdown-filter mb-3 d-inline-flex">
            <a href="#" class="btn btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom: May 1 - 31, 2021 <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item active" href="#">Today</a>
              <a class="dropdown-item" href="#">Yesterday</a>
              <a class="dropdown-item" href="#">This Week</a>
              <a class="dropdown-item" href="#">Last Week</a>
              <a class="dropdown-item" href="#">This Month</a>
              <a class="dropdown-item" href="#">Last Month</a>
              <a class="dropdown-item" href="#">Last 7 days</a>
              <a class="dropdown-item" href="#">Last 14 days</a>
              <a class="dropdown-item" href="#">Last 30 days</a>
              <a class="dropdown-item" href="#">All Time</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seller-order-board">
  <div class="">
    <div class="row">
      <div class="col-md-3">
        <p class="title"><strong>Sales</strong></p>
        <div class="detail">
          <strong>270,000</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title"><strong>Revenue</strong></p>
        <div class="detail">
          <strong>£75,000</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title"><strong>Average Order</strong></p>
        <div class="detail">
          <strong>£136</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title"><strong>New Sellers</strong></p>
        <div class="detail">
          <strong>8,376</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title"><strong>New Customers </strong></p>
        <div class="detail">
          <strong>8,569</strong>
        </div>
      </div>
    </div>
  </div>
</section>
