<section class="overview pt-4 pb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="overview-inner d-flex justify-content-between align-items-center">
          <div class="overview-left">
            <h4 class="red-color">
              Overview
            </h4>
          </div>
          <div class="dropdown dropdown-filter mb-3 d-inline-flex">
            <a href="#" class="btn btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custome: May 1 - 31,2021 <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item active" href="#">Today <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Yesterday <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">This Week <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Last Week<i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">This Month <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Last Month <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Last 7 days <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Last 14 days <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">Last 30 <i class="fa fa-check" aria-hidden="true"></i></a>
              <a class="dropdown-item" href="#">All Time <i class="fa fa-check" aria-hidden="true"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seller-order-board">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p class="title">Sales</p>
        <div class="detail">
          270,000
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Revenue</p>
        <div class="detail">
          £75,000
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Average Order</p>
        <div class="detail">
          £136
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Seller </p>
        <div class="detail">
          8,376
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Costomer </p>
        <div class="detail">
          8,569
        </div>
      </div>
    </div>
  </div>
</section>
