<section class="overview pt-4 pb-1">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="overview-inner d-flex justify-content-between align-items-center flex-wrap">
          <div class="overview-left">
            <h3 class="red-color mb-2">
              Overview
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seller-order-board">
  <div class="">
    <div class="row">
      <div class="col-md-3">
        <p class="title">Sales</p>
        <div class="detail">
          <strong>270,000</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Revenue</p>
        <div class="detail">
          <strong>£75,000</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Average Order</p>
        <div class="detail">
          <strong>£136</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Sellers</p>
        <div class="detail">
          <strong>8,376</strong>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Customers </p>
        <div class="detail">
          <strong>8,569</strong>
        </div>
      </div>
    </div>
  </div>
</section>
