<section class="overview pt-4 pb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="overview-inner d-flex justify-content-between align-items-center">
          <div class="overview-left">
            <h4 class="red-color">
              Overview
            </h4>
          </div>
          <div class="overview-right">
            <form action="">
              <div class="form-group">
                <select class="form-control overview-dropdown" id="exampleFormControlSelect1">
                  <option>Custome: May 1 - 31,2021</option>
                  <option>Today</option>
                  <option>Yesterday</option>
                  <option>This Week</option>
                  <option>Last Week</option>
                  <option>This Month</option>
                  <option>Last Month</option>
                  <option>Last 7 days</option>
                  <option>Last 14 days</option>
                  <option>Last 30 </option>
                  <option>All Time</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seller-order-board">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p class="title">Sales</p>
        <div class="detail">
          270,000
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Revenue</p>
        <div class="detail">
          £75,000
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Average Order</p>
        <div class="detail">
          £136
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Seller </p>
        <div class="detail">
          8,376
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Costomer </p>
        <div class="detail">
          8,569
        </div>
      </div>
    </div>
  </div>
</section>
