<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="pager-middle text-center d-flex justify-content-center mb-4">
      <div class="text-center"><%= paginate collection %></div>
    </div>
  </div>
</div>