<section class="top-search">
  <div class="">
    <div class="row">
      <div class="col-lg-6">
        <div class="top-search-term pt-5">
          <h3 class="red-color">
            Top Search Terms
          </h3>
          <div class="seller-product-table">
            <table class="table m-0">
              <thead class="seler-table-header">
                <tr>
                  <th>Search Term
                  </th>
                  <th>Catagory</th>
                  <th>Results</th>
                  <th>Uses</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
                <tr>
                  <td>
                    PaMax
                  </td>
                  <td>
                    Catagory123
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    1250
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="notifications pt-5">
          <h3 class="red-color">
            Notifications
          </h3>
          <div class="seller-product-table">
            <table class="table m-0">
              <tbody>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, illum.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
