<div class="contact-page">
  <p> Your message has been sent, Yavolo will contact you as soon as possible. </p>
  <a href="/buyers" class="btn btn-radius px-4 btn-primary btn-sm mr-1 my-1">RETURN TO HOMEPAGE</a>
</div>
