<div class="container-fluid">
  <div class="row ac-setting-tabs mt-3">
    <h3 class="mt-4 mb-3">Manage Yavolos</h3>
    <%= render "admin/yavolos/product_assignments/sidebar_tabs" %>
    <div class="col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="bundle-creation" role="tabpanel"
             aria-labelledby="Delivery-Settings-tab">
          <h5>Subscripion</h5>
          <div class="yo-white-card box-border row seller-edit-card">
            <div class="col-md-6">
              <table class="table">
                <!-- <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead> -->
                <tbody>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                <tr>
                  <td class="nowrap">User Email</td>
                  <td>ahsanzafar@gmail.com</td>
                </tr>
                </tbody>
              </table>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary">Primary</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>