<h1></h1>
<h2>Packing Slip Receipt</h2>
<p><b>Order:</b>Spring Within Collection <b>4</b>to<b>7</b></p>
<table style="width:100%">
  <tr>
    <td>Item total</td>
    <td>CA$ 45.00</td>
  </tr>
  <tr>
    <td>Shipping</td>
    <td>CA$ 0.00</td>
  </tr>
  <tr>
    <td>Coupon</td>
    <td>-CA$ 0.00</td>
  </tr>
</table>
<hr width="100%" color="black"/>  
<table style="width:100%">
  <tr>
    <td>Subtotal</td>
    <td>CA$ 36.00</td>
  </tr>
</table>
<br/>
<br/>
<p> Mail to: </p>
<hr width="100%" color="black"/>  
<p>john Smith</p>
<p>123 Drury Lane</p>
<p>London On</p>
<p> 3X3 X3X</p>
<br/>
<br/>
<p> From to: </p>
<hr width="100%" color="black"/>  
<p> Devony</p>
<p>Street Lane</p>
<p>London On</p>
<p> 3X3 3V9</p>
<br/>
<strong>Thanks for your purchase!</strong>
<br/>