<div class="col-md-4 d-flex flex-column">
  <p class="news-title">Seller News</p>
  <div class="seller-news-inner yo-white-card">
    <div class="seller-news-detail brdr-btm mb-4">
      <p class="news-date mb-0">09.02.21</p>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <a class="btn btn-sm btn-radius px-4 btn-secondary mt-2 mb-3" href="">Read more</a>
    </div>
    <div class="seller-news-detail brdr-btm mb-4">
      <p class="news-date mb-0">09.02.21</p>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <a class="btn btn-sm btn-radius px-4 btn-secondary mt-2 mb-3" href="">Read more</a>
    </div>
    <div class="seller-news-detail">
      <p class="news-date mb-0">09.02.21</p>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        <a class="btn btn-sm btn-radius px-4 btn-secondary mt-2 mb-3" href="">Read more</a>
    </div>
  </div>
</div>
