<section class="seller-order-board">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p class="title">Your Open Orders</p>
        <div class="detail">
          100
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Last 30 Days Revenue</p>
        <div class="detail">
          £50,000
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">New Messages</p>
        <div class="detail">
          4
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">% Yavolo Enabled Listings</p>
        <div class="detail">
          <%="#{@yavolo_products_percent}%"%>
        </div>
      </div>
      <div class="col-md-3">
        <p class="title">Estimated Payment</p>
        <div class="detail">
          £40,000
        </div>
      </div>
    </div>
    <hr class="mt-5 mb-5" >
  </div>
</section>
