<div class="col-md-4 d-flex flex-column">
  <p class="news-title">Success Meter</p>
  <div class="seller-news-inner yo-white-card">
    <div id="barometer" class="barometer"></div>
    <span>
    <img src="" alt="">
    </span>
    <ul>
      <li class="d-flex justify-content-between brdr-btm">
        <span>Perfect timed dispatch</span>
        <span>100%</span>
      </li>
      <li class="d-flex justify-content-between brdr-btm">
        <span>Courier delivered on time</span>
        <span>50%</span>
      </li>
      <li class="d-flex justify-content-between">
        <span>Successful orders</span>
        <span class="red">10%</span>
      </li>
    </ul>
  </div>
</div>

<script>
  
$(function(){
  $('#barometer').barometer({
    startvalue:"160"
  });
});
</script>
<style type="text/css">
  #barometer_form {
    display:  none;
  }
</style>