<p>Hi</p>
<%if @errors.present?%>
  <p>File is not imported completely if you find any errors listed below. Please ignore otherwise.</p>
  <p><%=@errors.html_safe%></p>
<%else%>
  <p>Your csv file has been imported successfully.</p>
<%end%>
<p>Thanks</p>
<p>Yavolo Team</p>
