<p>Hi</p>
<p>Your products have beend imported successfully. You can view by logging in to your account</p>
<% if @existing_product_list.present? %>
  <p>In your csv file some products are already created.</p>
  <p>Which are mentioned below:</p>
  <p><%= @existing_product_list.html_safe%></p>
<% end %>
<p>Thanks</p>
<p>Yavolo Team</p>
