<p>Seller, It’s time to welcome you to the Yavolo platform.</p>
<p>We’re so excited for you to be a part of our bundle-powered launch.</p>
<p>Please proceed to your account with the below mentioned password.</p>
<% unless @password.blank? %>
  <p>password: <%= @password %></p>
<% end %>
<p>Thanks</p>
<p>Yavolo Team</p>