
@font-face {
    font-family: 'buenos_airesblack';
    src: url('../fonts/buenosaires-black-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbold';
    src: url('../fonts/buenosaires-bold-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbook';
    src: url('../fonts/buenosaires-book-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_aireslight';
    src: url('../fonts/buenosaires-light-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesregular';
    src: url('../fonts/buenosaires-regular-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airessemibold';
    src: url('../fonts/buenosaires-semibold-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesthin';
    src: url('../fonts/buenosaires-thin-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}