
/*========= utility classes============ */

.general-mrgn {
	margin: 30px 0;
}
/*========= utility classes============ */


/*========= sign-in============ */
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.main-content {
	flex: 1;
} 
.sign-in .mid {
	position: relative;
	color: #D5D5D5;
}
.sign-in {
	width: 100%;
	min-height: 800px;
	margin-top: 70px;
	margin-bottom: 50px;
}
.sign-in .mid p:before {
	content: "";
	display: block;
	width: 43%;
	height: 1px;
	background: #D5D5D5;
	left: 0px;
	top: 50%;
	position: absolute;
}
.sign-in .mid p:after {

	content: "";
	display: block;
	width: 43%;
	height: 1px;
	background: #D5D5D5;
	right: 0px;
	top: 50%;
	position: absolute;
}
.signin-logo .logo-inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: start;
}
.sign-in form {
	color: #640529;
	font-size: 16px;
	width: 100%;
	max-width: 476px;
	margin: auto;
}
.sign-in form input {
	border-radius: 12px;
	border: 1px solid #D6D6D6;
	width: 100%;
	height: 40px;
	font-size: 14px ;
	padding: 12px 14px;
	color: #AAAAAA;
	
}
.sign-in form .forgt-text {
	text-decoration: none;
	color: #640529;
	font-size: 16px;
}
.sign-in form .btn-primary {
	background-color: #640529;
	color: #F9EDE1;
	border-radius: 45px;
	border: none;
	font-size: 16px;
	padding: 1px 12px;
	height: 50px;
	cursor: pointer;
}
.sign-in form .form-chrck-bt {
	overflow: hidden;
}
.sign-in .social-icons {
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
.sign-in .social-icons span img {
	width: 23px;
	height: 23px;
}
.sign-in .social-icons a {
	text-decoration: none;
	color: #640529;
	font-size: 14px;
	background-color: #ffff;
	padding: 10px 6px;
	width: 126px !important;
    border-radius: 20px;
    text-align: center;
	align-items: center;
	
}
.signin-footer {
	width: 100%;
	height: 80px;
	background-color: #F9EDE1;
	text-align: center;
	padding: 29px 0;
}
.signin-footer img {
	width: 133px;
	height: 25px;
	text-align: center;
	
}
.signin-header .signin-logo img {
	width: 168px;
	height: 30px;
}
.signin-header .signin-logo .back-yavolo a {
	text-decoration: none;
	color: #FF3E55;
	font-size: 16px;
	padding-left: 20px;
	font-weight: 600;
}
.signin-header .right a {
	text-decoration: none;
	color: #640529;
	font-size: 18px;
	margin: 0 20px;

}
.signin-header .right .register-now-bt {
	background-color: #640529;
	color: #F9EDE1;
	font-size: 14px;
	padding: 13px 60px;
	width: 222px;
	border-radius: 20px;
	margin: auto;
}
.check-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
  }
  .check-container a {
	text-decoration: none;
	color: #640529;
	font-size: 16px;
  }
  /* Hide the browser's default checkbox */
  .check-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border:2px solid #640529;
	border-radius: 4px;
  }
  .check-container input:checked ~ .checkmark {
	background-color: #640529;
	border: none;
	left: 0px;
	top: 0px;
  }
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  .check-container .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid #FFFFFF;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
/*========= sign-in============ */








/*Dashboard*/
.dashboard-page {
	display: flex;
	min-height: 100vh;
}
.dashboard-page .leftside {
	max-width: 280px;
	background-color: #640529;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	-moz-transition: .3s linear;
	-webkit-transition: .3s ease-out;
	transition: .3s linear;
}
.dashboard-page .leftside .sideheader {
	padding: 32px 32px 15px 32px;
	border-bottom: 1px solid #ffffff2e;
}
.dashboard-page .leftside .sideheader p {
	color: #F9EDE1;
	font-family: 'buenos_airesregular';
}
.dashboard-page .rightside {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
.sidebody {
	padding: 32px 12px 12px 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
.sidebody li a {
	display: flex;
	align-items: center;
	padding: 5px 20px 3px 20px;
	min-height: 54px;
	line-height: 16px;
	letter-spacing: 0px;
	color: #F9EDE1;
	text-decoration: none;
	-moz-transition: .3s linear;
	-webkit-transition: .3s ease-out;
	transition: .3s linear;
	border-radius: 12px;
}
.sidebody li.active a,
.sidebody li a:hover {
	background: var(--unnamed-color-731d3d) 0% 0% no-repeat padding-box;
	background: #731D3D 0% 0% no-repeat padding-box;
}
.sidebody ul li ul {
	padding: 10px 0px 0 30px;
}
.sidebody ul li ul li a {
	padding: 10px 15px;
    min-height: 40px;
    margin-bottom: 5px;
}
.add-listing-text {
	padding: 40px 0;
}
.seller-manual-product .form-group input {
	position: relative;
	height: 40px;
	color: #C09AA8;
	border-radius: 20px;
	border: none;
}
.seller-manual-product .form-group span {
	position: absolute;
	right: 25px;
	top: 10px;
	color: #C09AA8;
}
.seller-manual-product .seller-product-table .seler-table-header {
	background-color: #640529;
	color: #FEFCF9;
	font-size: 14px;
	font-weight: normal !important;
}
.seller-manual-product .seller-product-table .seler-table-header tr {
	width: 100%;
	height: 60px;
	align-items: center;
	border-radius: 10px;
}
.seller-manual-product .seller-product-table .seler-table-header tr th {
	font-weight: normal;
	vertical-align: revert;
}
.seller-manual-product .seller-product-table tbody tr {
	background-color: #FFFFFF;
	color: #640529;
	font-size: 12px;
}
.seller-manual-product .seller-product-table tbody tr .link-middle {
	vertical-align: middle;
	display: flex;

}
.seller-manual-product .seller-product-table tbody tr td a {
	text-decoration: none;
	color: #FF3E55;
	font-size: 14px;
	background-color: #FFD8DD;
	border-radius: 15px;
	padding: 7px 5px;
	align-items: center;
	vertical-align: middle;
	
}
.seller-manual-product .create-product {
	text-align: center;
	position: relative;
}
.seller-manual-product .prodct-brdr::after {
	content: "";
	
	content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: #D5D5D5;
    left: 25%;
    bottom: 0;
    position: absolute;
	margin-bottom: 38px;
	
}
.seller-manual-product .create-product h5 {
	color: #640529;;
	font-size: 22px;
	text-align: center;
}
.seller-manual-product .create-product a {
	color: #FDF8F3;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background-color: #640529;
	padding: 12px 20px;
	
}
.seller-manual-product .create-product .btn {
	width: 232px;
	color: #FDF8F3;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background-color: #640529;
	width: 232px;
	height: 40px;
	border-radius: 40px;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 80px;

}
.seller-footer {
	background-color: #F9EDE1;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}
.seller-footer ul li {
	padding-right: 20px;
	margin-right: 20px;
}
.seller-footer ul li a {
	text-decoration: none;
	color: #640529;
}









@media only screen and (max-width: 1024px)  {
	.dashboard-page .leftside {
	    width: 280px;
	    max-width: 280px;
	    background-color: #640529;
	    flex: 1;
	    display: flex;
	    flex-direction: column;
	    overflow-y: auto;
	    position: fixed;
	    z-index: 5;
	    left: -280px;
	}
}
@media only screen and (max-width: 768px) {
	.seller-footer .seller-footer-inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.seller-footer .footer-policy ul {
		flex-direction: column;
		align-items: center;
	}
	.seller-footer .footer-policy ul li {
		padding: 20px 0;
	}
  }
/*Dashboard*/









































@media only screen and (max-width: 991px) {
.signin-header .right,
.signin-header {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.signin-logo {
	width: 100%;
    justify-content: space-between;
}	
}

@media only screen and (max-width: 768px) {
	
  }



@media only screen and (max-width: 480px) {
.sign-in .social-icons  {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.sign-in .social-icons a {
	width: 250px !important;
	margin: 10px 0;
}	
.signin-header .signin-logo .back-yavolo a {
    text-decoration: none;
    color: #FF3E55;
    font-size: 13px;
    padding-left: 0px;
}
.check-container ,
.sign-in form .forgt-text {
	font-size: 14px;
	font-weight: bold;
}
.deal-main {
	flex-direction: column;
	overflow: hidden;
}
  }














@media (max-width: 680px) {
	.wrapper-rd {
	    margin-top: 65px;
	    max-width: 100%;
	}
}

/* custom css */
.loading {
  background: transparent url('/assets/loading.gif') center no-repeat;
}
