<p id="card-success" class="flash-toast notice">
  <span class="msg">PayPal Integrated Successfully</span>
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>
<p id="card-failure" class="flash-toast notice">
  <span class="msg">PayPal Integration Failed. Please Try Again!</span>
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>