<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-8 col-md-8 mx-auto">
      <div class="sign-in">
        <h1 class="text-center mb-4" style="color: #640529; font-size: 48px">
          Forgotten your password?
        </h1>
        <div class="text-center">
          <p>A password reset link has been sent, please check your email</p>
        </div>
      </div>
    </div>
  </div>
</div>
