<div class="card">
  <div class="card-header" id="headingfour">
    <h5 class="mb-0">
      <button
        class="btn btn-link collapsed btn-radius px-4 d-flex justify-content-between align-items-center decoration-none"
        data-toggle="collapse" data-target="#collapsefour"
        aria-expanded="false" aria-controls="collapsefour">
        Product Reviews<span class="icon-chevron-down-solid chev-colps"></span>
      </button>
    </h5>
  </div>
  <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
       data-parent="#accordion">
    <div class="card-body px-0">
      <div class="review-card mx-0">
        <div class="review-header d-flex justify-content-between">
          <span>John Smith</span>
          <span>22/04/2021</span>
        </div>
        <ul class="rating d-flex mb-2">
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1"><span class="icon-star"></span></li>
          <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
        </ul>
        <div class="d-flex">
          <div>
            <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
              congue arcu. Quisque quis mi turpis. Curabitur eu mauris
              malesuada, posuere dui eget, placerat nisi. Donec lacus
              magna,
              imperdiet nec molestie et.</p>
          </div>

          <div class="yo-white-card bundling-review-block">
            <div class="">
              <div class="d-flex align-items-center mb-2">
                <span class="icon-manage-Yavolo red-text bundling-smily-logo"></span>
                <div class="d-flex flex-column bundling-logo-title">
                  <span class="red-text font-14px"> Yavolo </span>
                  <span class="dark-red-text font-14px">Exclusive Bundle</span>
                </div>
              </div>
              <div>
                <div class="row align-items-center">
                  <div class="col-lg-8">
                    <div class="yo-white-card p-2 d-flex justify-content-center align-items-center relative">
                      <span>
                          <%= image_tag "Image496.png" %>
                      </span>
                      <span class="plus-bundling">+</span>
                    </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="yo-white-card p-2">
                      <span>
                          <%= image_tag "Image496.png" %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <span class="">
                  <img src="images/profile.jpg" alt="">
              </span> -->
              <div class="text-right mt-2">
                <span>A goog deal better.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="review-card mx-0">
        <div class="review-header d-flex justify-content-between">
          <span>John Smith</span>
          <span>22/04/2021</span>
        </div>
        <ul class="rating d-flex mb-2">
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1 active"><span class="icon-star"></span></li>
          <li class="mr-1"><span class="icon-star"></span></li>
          <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
        </ul>
        <div class="d-flex">
          <div>
            <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
              congue arcu. Quisque quis mi turpis. Curabitur eu mauris
              malesuada, posuere dui eget, placerat nisi. Donec lacus
              magna,
              imperdiet nec molestie et.</p>
          </div>

          <div class="yo-white-card bundling-review-block">
            <div class="">
              <div class="d-flex align-items-center mb-2">
                <span class="icon-manage-Yavolo red-text bundling-smily-logo"></span>
                <div class="d-flex flex-column bundling-logo-title">
                  <span class="red-text font-14px"> Yavolo </span>
                  <span class="dark-red-text font-14px">Exclusive Bundle</span>
                </div>
              </div>
              <div>
                <div class="row align-items-center">
                  <div class="col-lg-8">
                    <div class="yo-white-card p-2 d-flex justify-content-center align-items-center relative">
                      <span>
                          <%= image_tag "Image496.png" %>
                      </span>
                      <span class="plus-bundling">+</span>
                    </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="yo-white-card p-2">
                      <span>
                          <%= image_tag "Image496.png" %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-right mt-2">
                <span>A good deal better.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
