<h3 class="pb-4 confirmation-text">Remove Delivery Template</h3>
<p class="pb-4 confirmation-text remove-text-heading">Would you like to remove following template?</p>
<p class="pb-4 confirmation-text"><%= delivery_option.name %></p>
<div class="text-center">
  <% if params['path'].present? && params['path'] == 'seller' %>
    <%= link_to 'REMOVE', delete_delivery_option_admin_delivery_option_path(delivery_option, seller_id:  delivery_option.delivery_optionable.id), remote: true, method: 'delete', class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
  <% else %>
    <%= link_to 'REMOVE', admin_delivery_option_path(delivery_option), method: 'delete', class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
  <% end %>
</div>
