<div class=row>
  <div class="col-12">
    <%= render 'delivery_options_list', delivery_options: @delivery_options %>
  </div>
  <div class="col-12">
    <%= render 'carriers_list', carriers: @carriers %>
  </div>
</div>
