<div class="container-fluid">
  <h3 class="mt-4 mb-3">Subscriptions</h3>
</div>
<div class="row">
  <div class="col-md-12 mt-3">
    <div class=" flex-wrap text-right">
      <a href="#create-new-subscription" id="create-new-subscription-plan-form" data-toggle="modal" data-target="#create-new-subscription" class="btn btn-sm btn-radius  px-4 btn-primary mb-1">Add New Subscription Type</a>
    </div>
    <%=render 'sub_listing'%>
  </div>
</div>
<%= render 'form'%>
