<div>
  <div>
    <hr>
  </div>
  <div class="panel mb-3">
    <div class="panel-head">Product Categories</div>
    <div class="panel-body">
      <ul>
        <li class="active">
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox" checked="checkmark">
            <span class="checkmark"></span>
          </label>
          <ul>
            <li class="active">
              <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
                I agree to Yavolo’s
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              <ul>
                <li>
                  <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
                    I agree to Yavolo’s
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
                    I agree to Yavolo’s
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </li>
            <li>
              <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
                I agree to Yavolo’s
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <ul>
        <li>
          <label class="checkbox-blk checkbox-blk-box"><img src="images/folder.svg" width="28" class="folder-icon mr-2 ml-1">
            I agree to Yavolo’s
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>

    </div>
  </div>
</div>