<div class="col-md-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <%= link_to "Product Assignment", admin_yavolos_product_assignments_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Waiting Room", admin_yavolos_waiting_rooms_path, class: "nav-link" %>

    </li>
    <li class="nav-item">
      <%= link_to "Bundle Creation", admin_yavolos_bundle_creations_path, class: "nav-link" %>
    </li>
  </ul>
</div>