<p class="pb-4 confirmation-text" id="updateable-text"> <%= text.present? ? text : 'Are you sure you want to perform this action on seller?' %> </p>
<div class="carrier-btn text-right">
  <div class="btn btn-sm btn-radius px-4 btn-primary mt-2" data-dismiss="modal">
    No
  </div>
  <%= link_to 'Yes', sellers_connection_manager_path(seller_api_id: seller_api, field_to_update: params[:param_to_update]), remote: true, method: :patch, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2' %>
</div>
