<br/>
<%=check_box_tag 'add_new', 'delivery_option',false, data: {url: new_admin_delivery_option_path, params: 'from=create_product',remote: true, method: :get } %> Add New Option
<div id="delivery-template-form" style="border: 1px solid #ccc; display: none;">

</div>
<br/>
