<%= form.fields_for :assigned_category, @product.assigned_category do |ac| %>
<div class="general-mrgn mt-0">
    <label for="exampleInputEmail1">Category*</label>
    <%= ac.select :category_id, Category.baby_categories.map{|bc| [bc.category_name.titleize, bc.id]}, { prompt: 'Search for the best Yavolo category for your product' }, class: 'form-control', id: 'product_category',required: true %>
</div>
<% end %>

<div class="row mx-1 mb-2" id="category-filter-section">
</div>
