<div class="row bottom-mee">
    <div class="col-lg-12">
        <div class="delivery-detail-footer-innerr d-flex justify-content-between flex-wrap mb-4">
            <div class="fooetr-left">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-white mb-2 mt-2 back-btn-action">BACK</a>
            </div>
            <div class="footer-left">
                <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-white mb-2 mt-2">PREVIEW LISTING</a>

                <% if form.object.draft? || form.object.new_record? %>
                <%= form.submit 'SAVE DRAFT', class: 'btn btn-sm btn-radius px-4 btn-outline-white mb-2 mt-2',data: { disable_with: false } %>
                <% end %>

                <%= form.submit 'APPROVE & PUBLISH', class: 'btn btn-sm btn-radius px-4 btn-outline-white mb-2 mt-2', data: { disable_with: false } %>
            </div>
        </div>
    </div>
</div>
