<div class="modal fade" id="upload-images-popup" tabindex="-1" role="dialog"
    aria-labelledby="upload-images-popupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="upload-images-popupLabel">Upload Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body px-lg-4 pt-0">
                <div class="csv-file-uploader bg-white p-4 mb-4">
                    <p class="text-center">Drag and drop files from your desktop</p>
                    <p class="text-center">or</p>
                    <p class="text-center">
                        <a href="#" class="btn btn-sm btn-radius px-4 btn-primary text-uppercase position-relative overflow-hidden">Browse files 
                        <%= form.fields_for :pictures, Picture.new do |picture| %>
                            <% if picture.object.new_record? %>
                            <%= picture.file_field :name, multiple: true, name: "product[pictures_attributes][][name]" %>
                            <% end %>
                        <% end %>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
