<div class="yavolo-discount-section" style="border: 1px solid #ccc">

<%= form.label 'Yavolo Discount' %>
<%= form.select :discount, [['2.5%','2.5'],['3.5%','3.5'],['4.5%','4.5']] %>

<%= form.label :yavolo_enabled %>
<%= form.check_box :yavolo_enabled %>

</div>
