<div class="modal fade" id="baby-category-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body delete-modal-body">
        <p class="pb-4 confirmation-text">Please note that child categories of this category will be removed if you mark this category as baby category</p>
        <div class="carrier-btn text-right">
          <div class="btn btn-sm btn-radius px-4 btn-primary mt-2" data-dismiss="modal">
            Close
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


