<label class="checkbox-blk checkbox-blk-box categories-checkbox-container">
  <%= image_tag("folder.svg", width: "28", class: "folder-icon mr-2 ml-1") %>
  <%= category.category_name %>
  <input type="checkbox" class="category-input" name="<%= category.id %>" data-baby-category="<%= category.baby_category %>">
  <span class="checkmark"></span>
</label>

