<div class="col-md-4">
  <div class="panel">
    <div class="panel-head">Product Categories</div>
    <div class="panel-body categories-tree-body mb-3">
      <%= nested_categories(@categories.arrange) %>
    </div>
  </div>
</div>
