<div class="product-catagory-inner yo-white-card box-border">
  <h5>filter group and variations</h5>
  <form action="">
    <div class="form-group form-group-vertical align-items-center form-group-vertical-responsive">
      <label for="exampleInputPassword1" class="text-left pr-3">Catagory Name :</label>
      <select class="form-control">
        <option>ArvindPanchmatia@gmail.co.uk</option>
      </select>
      <a href="#" class="pl-3 pluse-btn">+</a>
    </div>
  </form>
  <div class="Yavolo-table">
    <table class="table">
      <thead>
      <tr>
        <th>
          <label class="checkbox-blk" checkbox-blk-box>
            <input type="checkbox">
            <span class="checkmark checkmark-white"></span>
          </label>
        </th>
        <th>Name</th>
        <th>type</th>
        <th>filter</th>
        <th>sort order</th>
        <th class="text-center" width="10%">Product available</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <label class="checkbox-blk">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td class="text-center">
          <a href="#"
             class="btn btn-sm btn-radius px-4 btn-secondary w-100">Secondary</a>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-blk">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdohwqoifowofoowofjowjojfojwjfojwjfjo</td>
        <td>
          <div class="form-group form-group-vertical">
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </td>
        <td class="text-center">
          <a href="#"
             class="btn btn-sm btn-radius px-4 btn-secondary w-100">Secondary</a>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-blk">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td class="text-center">
          <a href="#"
             class="btn btn-sm btn-radius px-4 btn-secondary w-100">Secondary</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <form action="">
    <div class="form-group form-group-vertical align-items-center form-group-vertical-responsive">
      <label for="exampleInputPassword1" class="text-left pr-3">Catagory Name :</label>
      <select class="form-control">
        <option>ArvindPanchmatia@gmail.co.uk</option>
      </select>
      <a href="#" class="pl-3 pluse-btn plus-btn-hide">+</a>
    </div>
  </form>
</div>