<div class="product-catagory-inner yo-white-card box-border">
  <h5>Meta Content</h5>
  <form action="">
    <div class="form-group form-group-vertical form-group-vertical-responsive">
      <label for="exampleInputPassword1">Meta title:</label>
      <input type="email" class="form-control" id="exampleInputEmail1"
             aria-describedby="emailHelp">
    </div>
    <div class="form-group form-group-vertical form-group-vertical-responsive">
      <label for="exampleInputPassword1">Meta Keywords:</label>
      <input type="email" class="form-control" id="exampleInputEmail1"
             aria-describedby="emailHelp" >
    </div>
    <div class="form-group form-group-vertical form-group-vertical-responsive">
      <label for="exampleInputPassword1">Meta Description:</label>
      <textarea class="form-control" ></textarea>
    </div>
  </form>
</div>