<div class="carrier-btn text-right">
    <div class="btn btn-sm btn-radius px-4 btn-primary mt-2" data-dismiss="modal">
      No
    </div>
    
    <%= link_to 'Yes', remove_filter_group_association_admin_category_path(id: params[:id], filter_group_id: params[:filter_group_id]), method: 'delete', remote: true, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2 confirm-delete-btn', data: {dismiss: "modal"} %>
</div>
