<div class="container-fluid">
  <%= render 'category_action_btns' %>
  <div class="row ac-setting-tabs">
    <%= render 'categories_tree' %>
    <div class="col-md-8 category-details-wrapper">
      <%#= render 'category_details' %>
    </div>
  </div>
</div>

<style>
  .categories-tree-body ul{
    display: none;
  }

  .categories-tree-body ul.active{
    display: block;
  }


</style>