<div class="product-catagory-inner yo-white-card box-border">
  <h5>product in Catagories</h5>
  <form action="">
    <div class="d-flex align-items-center flex-wrap">
      <div class="search-field active mb-3 mr-2 search-field-flex">
        <input type="text"
               placeholder="Search articles, FAQ’s and your tickets here">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="form-group mr-2">
        <select class="form-control">
          <option>ArvindPanchmatia@gmail.co.uk</option>
        </select>
      </div>
      <div class="">
        <a href="#"
           class="btn btn-radius px-4 btn-primary mb-3">Primaryfqkhihqoi</a>
      </div>
    </div>
  </form>
  <div class="Yavolo-table">
    <table class="table">
      <thead>
      <tr>
        <th>
          <label class="checkbox-blk">
            <input type="checkbox">
            <span class="checkmark checkmark-white"></span>
          </label>
        </th>
        <th>bundle label</th>
        <th>Catagory Name</th>
        <th>Catagory Id</th>
        <th class="text-right" width="">Product available</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <label class="checkbox-blk checkbox-blk-box">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="text-right">@mdo</td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-blk checkbox-blk-box">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="text-right">@mdo</td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-blk checkbox-blk-box">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="text-right">@mdo</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>