<div class="modal fade" id="upload-csv-success-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="add-listing text-center">
                    <span class="mb-3">
                        <%=image_tag 'file-export.svg', class: 'mb-3' %>
                    </span>
                    <h5>Processing Upload</h5>
                    <p class="mb-0">You will receive an email and notification when the process is complete.</p>
                    <p>You will now be redirected to the product page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
