<div class="modal fade" id="upload-csv-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModal-1Label" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal-1Label">Upload CSV File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body px-lg-4 pt-0">
                <div class="csv-file-uploader bg-white p-4 mb-4">
                    <p class="text-center">Drag and drop files from your desktop</p>
                    <p class="text-center">or</p>
                    <p class="text-center"><a href="#"
                            class="btn btn-sm btn-radius px-4 btn-primary text-uppercase position-relative overflow-hidden">Browse
                            files 
                            <%=file_field_tag 'csv_import[file]', accept: ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" %>
                          </a></p>
                    <p class="text-center">Download Yavolo's example CSV file by clicking 
                    <a href="/yavolo_sample_file.csv" class="position-relative" download><u>here</u></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
