/* put all custom css here */
.form-control.yavolo-box-top-select {
  width: 110px !important;
}
.add-photoo.photos-uploader-section {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ckeditor 5 fields style */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.error-field
  .ck-rounded-corners
  .ck.ck-editor__top
  .ck-sticky-panel
  .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border: 1px solid var(--red);
}
.error-field .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border: 1px solid var(--red);
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  padding: 8px 0px;
  border-radius: 12px;
}

.error-field .bootstrap-tagsinput {
  border: 1px solid var(--red);
}
.bootstrap-tagsinput .badge {
  margin: 0px 3px;
}

.page-item.active .page-link {
  background-color: #ff3e55 !important;
  color: #ffffff !important;
}
.pager-middle .page-item .page-link {
  display: inline-flex;
  border-radius: 30px !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 32px;
  width: auto !important;
}

.formme {
  position: relative;
  padding-bottom: 150px;
}
.bottom-mee {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.ck.ck-editor {
  margin-bottom: 10px !important;
  flex: 1;
  overflow: hidden;
}
#filter_in_categories {
  position: relative;
}
#filter_in_categories .nested-fields {
  padding-right: 15px;
  position: relative;
}
#filter_in_categories .links a {
  text-decoration: none !important;
}
.filter_in_categories.remove_fields,
#filter_in_categories .links {
  position: absolute;
  right: 0;
  top: 7px;
}
.filter_in_categories.remove_fields span {
  display: none;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--dark-red);
  background-color: transparent;
}

.pluse-btn {
  background-color: transparent;
  border: 0;
}

.checkbox-blk-box.checkbox-blk .checkmark:after {
  width: 12px !important;
  height: 12px !important;
}
.dashboard-page.toggle-close .sidebody {
  overflow-y: hidden;
}

.dashboard-page.toggle-close .sidebody::-webkit-scrollbar {
  width: 1px;
}

.sidebody::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.dashboard-page.toggle-close .sidebody::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background-color: var(--dark-red);
}

.nowrap .dropdown-menu a {
  word-break: break-word;
  white-space: normal;
}
.sign-in {
  min-height: 400px !important;
}
/* .dropdown-filter.show .dropdown-menu a {
    word-break: break-word;
    white-space: normal;
} */

.sidebody {
  max-height: calc(100vh - 158px) !important;
  overflow-y: auto !important;
}
.menuBtn {
  background-color: var(--red);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none !important;
}
.menuBtn span {
  margin: 0 !important;
}
.dashboard-page.toggle-close .rightside {
  padding-left: 60px !important;
}
.dashboard-page.toggle-close .sideheader .logo {
  width: 32px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}
.dashboard-page.toggle-close .sideheader .logo img {
  min-width: 120px;
}
.dashboard-page.toggle-close .sideheader {
  padding: 30px 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-page.toggle-close .sideheader p {
  display: none;
}
.dashboard-page.toggle-close .leftside {
  max-width: 60px !important;
}
.dashboard-page.toggle-close .sidebody li a {
  display: flex;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 38px;
  overflow: hidden;
  justify-content: center;
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:first-child {
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:last-child {
  display: none;
}
.dashboard-page.toggle-close .sidebody li ul {
  display: none !important;
}
.dashboard-page.toggle-close .sidebody {
  max-height: calc(100vh - 114px) !important;
  padding: 12px !important;
}
.notice,
.alert {
  text-align: center;
}
.dashboard-page .rightside {
  overflow-x: hidden;
}

.admin-header {
  border-bottom: 1px solid black;
  min-height: 82px;
  display: flex;
  align-items: center;
}

.progress-bar-outer {
  width: 100%;
  overflow: hidden;
  height: 6px;
  background-color: #ff3e55a3;
}

.progress-bar-inner {
  height:10px;
  width: 25%;
  background-color: var(--red);
}
.bulk-actions .fa-check{
  display: none;
}
.bulk-actions .dropdown-item.active .fa-check{
  display: block;
}
