/* put all custom css here */
.form-control.yavolo-box-top-select {
  width: 110px !important;
}
.add-photoo.photos-uploader-section {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ckeditor 5 fields style */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.mainlang-list .field-me {
  border: 2px solid #640529 !important;
  border-radius: 16px;
  background-color: transparent;
  width: 100px;
  padding: 6px 20px 2px 20px;
  color: #640529;
  outline: none !important;
}

.error-field
  .ck-rounded-corners
  .ck.ck-editor__top
  .ck-sticky-panel
  .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border: 1px solid var(--red);
}
.error-field .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border: 1px solid var(--red);
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  padding: 8px 0px;
  border-radius: 12px;
}

.error-field .bootstrap-tagsinput {
  border: 1px solid var(--red) !important;
}
.bootstrap-tagsinput .badge {
  margin: 0px 3px;
  white-space: normal;
  word-break: break-all;
}

.page-item.active .page-link {
  background-color: #ff3e55 !important;
  color: #ffffff !important;
}
.pager-middle .pagination {
  align-items: center;
}
.pager-middle .page-item .page-link {
  display: inline-flex;
  border-radius: 30px !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 32px;
  width: auto !important;
  padding-top: 10px;
}

.formme {
  position: relative;
  padding-bottom: 150px;
}
.bottom-mee {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.ck.ck-editor {
  margin-bottom: 10px !important;
  flex: 1;
  overflow: hidden;
}
#filter_in_categories {
  position: relative;
}
#filter_in_categories .nested-fields {
  position: relative;
}
#filter_in_categories .links a {
  text-decoration: none !important;
}
#filter_in_categories .filter-in-category-sort-order-wrapper .error{
    bottom: -21px;
    max-width: 350px;
    width: 350px;
}

.filter_in_categories.remove_fields,
#filter_in_categories .links {
  position: absolute;
  right: -15px;
  top: 7px;
  text-decoration: none;
}
.filter_in_categories.remove_fields span {
  display: none;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--dark-red);
  background-color: transparent;
}

.pluse-btn {
  background-color: transparent;
  border: 0;
  text-decoration: none !important;
}

.checkbox-blk-box.checkbox-blk .checkmark:after {
  width: 12px !important;
  height: 12px !important;
}
.dashboard-page.toggle-close .sidebody {
  overflow-y: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.nowrap .dropdown-menu a {
  word-break: break-word;
  white-space: normal;
}

.sign-in {
  min-height: 400px !important;
}
.sidebody {
  /* max-height: calc(100vh - 92px) !important; */
  max-height: 100vh !important;
  overflow-y: auto !important;
}
.menuBtn {
  background-color: var(--red);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none !important;
}
.menuBtn span {
  margin: 0 !important;
}
.dashboard-page.toggle-close .rightside {
  padding-left: 60px !important;
}
.dashboard-page.toggle-close .sideheader .logo {
  width: 32px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}
.dashboard-page.toggle-close .sideheader .logo img {
  min-width: 120px;
}
.dashboard-page.toggle-close .sideheader {
  padding: 30px 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-page.toggle-close .sideheader p {
  display: none;
}
.dashboard-page.toggle-close .leftside {
  max-width: 60px !important;
}
.dashboard-page.toggle-close .sidebody li a {
  display: flex;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 38px;
  overflow: hidden;
  justify-content: center;
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:first-child {
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:last-child {
  display: none;
}
.dashboard-page.toggle-close .sidebody li ul {
  display: none !important;
}
.dashboard-page.toggle-close .sidebody {
  max-height: calc(100vh - 114px) !important;
  padding: 12px !important;
}
.notice,
.alert {
  text-align: center;
}
.dashboard-page .rightside {
  overflow-x: hidden;
}

.admin-header {
  border-bottom: 1px solid #ccc;
  min-height: 82px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
  z-index: 55555;
  transition: 0.3s linear;
  background-color: #fdf8f3;
}
.toggle-close .admin-header {
  left: 60px;
}

.progress-bar-outer {
  width: 100%;
  overflow: hidden;
  height: 6px;
  background-color: #ff3e55a3;
}

.progress-bar-inner {
  height: 10px;
  width: 25%;
  background-color: var(--red);
}

.admin-dashboard {
  padding-top: 82px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.y-page-container {
  flex: 1;
}
.alert,
.notice {
  position: fixed;
  top: 0;
  right: -460px;
  z-index: 55556;
  background-color: var(--light-red);
  color: var(--red);
  padding: 12px 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px;
  transition: 0.3s linear;
  max-width: 450px;
}
.notice-msg,
.alert-msg {
  right: 0;
}
.notice-msg span,
.alert-msg span {
  font-size: 21px;
  line-height: 21px;
  cursor: pointer;
  margin-left: 10px;
}
.notice-msg span {
  cursor: pointer;
}
.badge-info {
  background-color: var(--dark-red) !important;
  color: var(--off-white) !important;
  border-radius: 20px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 10px !important;
  font-size: 12px;
  font-weight: normal;
    margin-bottom: 8px !important;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  background-color: transparent !important;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 0 !important ;
}
.notice-cross-icon span {
  cursor: pointer;
}

.admin-login .form-control::placeholder {
  color: #aaa !important;
  opacity: 1; /* Firefox */
}

.admin-login .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa !important;
}

.admin-login .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa !important;
}

.form-check {
  padding-left: 0 !important;
}

.logo img {
  width: 130px;
}

.seller-products-filters .fa-check,
.bulk-actions .fa-check {
  display: none;
}
.seller-products-filters .dropdown-item.active .fa-check,
.bulk-actions .dropdown-item.active .fa-check {
  display: block;
  margin-left: 5px;
}

/* ==== seller listing search dropdown ==== */
.seller-listing-filters .fa-check,
.bulk-actions .fa-check {
  display: none;
}
.seller-listing-filters .dropdown-item.active .fa-check,
.bulk-actions .dropdown-item.active .fa-check {
  display: block;
  margin-left: 5px;
}
/* ==== seller listing search dropdown ==== */

.dropdown-filter.show .dropdown-menu {
  min-width: 40px;
  top: 40px !important;
  margin-top: 0;
  border: 1px solid var(--dark-red);
  padding: 0;
}
.dropdown-filter-custom a,
.dropdown-filter.show .dropdown-menu a {
  word-break: break-word;
  white-space: normal;
  font-size: 12px !important;
  padding: 8px 12px !important;
  justify-content: flex-start;
  line-height: 13px;
  width: 100%;
  display: flex;
  padding-right: 14px !important;
}
.dropdown-filter-custom .dropdown-menu a svg,
.dropdown-filter .dropdown-menu a svg {
  position: absolute;
  right: 10px;
  /* transition: 0.3s linear; */
}
.dropdown-filter-custom .dropdown-menu a svg {
  width: 12px !important;
}
.dropdown-filter.show .btn-link-dropdown-1 svg,
.dropdown-filter-custom .show .btn svg,
.dropdown-filter-field .dropdown.show .product-search-dropdown svg,
.dropdown-filter.show .btn-link-dropdown svg {
  transform: rotate(180deg);
}

.Yavolo-table .checkbox-blk {
  margin-bottom: 0 !important;
  min-height: 20px;
  padding-left: 20px !important;
  display: inline-flex;
}
.Yavolo-table table td .checkmark {
  top: 0 !important;
}
.dropdown-filter-field .dropdown-item {
  font-size: 14px;
  padding: 2px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Yavolo-table {
  overflow-x: auto;
}
.Yavolo-table-min-height.Yavolo-table table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
}
.uploader-btn {
  position: relative;
  width: 100px !important;
  display: flex;
  text-align: center;
  justify-content: center;
}
.uploader-btn-1 {
  width: 150px !important;
}
.uploader-btn:before {
  content: "Upload";
}
.uploader-btn-1:before {
  content: "Select from Gallery";
}
.uploader-btn input {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
    cursor: pointer;
}

/* hide number field spin buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-field-flex small {
  font-size: 10px;
}
.modal-header {
  border-bottom: 0 !important;
  padding-bottom: 5px !important;
}

/* .simple_form.new_filter_group .checkbox-blk {
  padding-top: 3px;
} */
.admin-header-left .dropdown-filter.show .dropdown-menu {
  min-width: 250px !important;
}

.pluse-aa .state-content.links {
  position: absolute;
  right: -10px;
  top: 10px;
}
.pluse-aa .remove_fields {
  position: absolute;
  right: -15px;
}

.new_filter_group .error-field {
  position: relative;
}
.new_filter_group .form-text {
  position: absolute;
  top: 37px;
  left: 205px;
}
.new_filter_group .filter-type {
  margin-top: 25px;
}

.error-field .form-control {
  border: 1px solid var(--red) !important;
}

/* ------------------ */

.error {
  color: var(--red) !important;
  font-size: 14px !important;
  padding: 3px 5px !important;
}

/* ------ image style category -------*/

.add-edit-product-photos {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-single-img {
  height: 120px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 4px #00000029;
  width: 100%;
}

.grid-single-img img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.selectize-input {
  border: 1px solid #d6d6d6 !important;
  border-radius: 12px !important;
  min-height: 38px !important;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  display: none;
}
.dropdown.dropdown-filter.mb-3.d-inline-flex {
  margin-bottom: 0 !important;
}
.email-in-table {
  word-break: break-all;
  min-width: 100px;
  display: flex;
}
.menu-icon {
  display: none;
  font-size: 18px !important;
  text-decoration: none !important;
}
.dashboard-page .leftside.leftside-open {
  left: 0;
}
.seller-api-token {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin-right: 10px;
}
.custom-border {
  border: 1px solid red !important;
}
.custom-selectize small.form-text,
.product-bb-cat small.form-text {
  color: red !important;
}
.admin-header-right .dropdown-profile {
  background-color: var(--off-white);
  border-color: var(--off-white);
  border-radius: 15px;
  min-width: 320px;
  right: 0;
  top: 64px !important;
  padding: 20px 30px !important;
  transform: inherit !important;
  left: inherit !important;
}
.dropdown-profile-inner {
  word-break: break-word;
}
/* yavolo icon css */
.yo-opacity {
  opacity: 0.3;
  cursor: pointer;
}
.yo-opacity:hover {
  opacity: 1;
  transition: all 0.3s linear 0s;
}
.pointer {
  cursor: pointer;
}

.seller-products-filters .dropdown-item.active {
  color: var(--dark-red);
}
.seller-products-filters .dropdown-item {
  background-color: var(--off-white) !important;
}
.seller-products-filters {
  padding: 0 !important;
}

/* ==== seller listing search dropdown ==== */
.seller-listing-filters .dropdown-item.active {
  color: var(--dark-red);
}
.seller-listing-filters .dropdown-item {
  background-color: var(--off-white) !important;
}
.seller-listing-filters {
  padding: 0 !important;
}
/* ==== seller listing search dropdown ==== */
/* naseer code */
.minume .btn {
  margin-top: -115px;
}
.uppercase-text {
  text-transform: uppercase;
}
.seller-edit-card .btn.btn-primary {
  text-transform: capitalize;
}
.csv-file-uploader-ammar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 20px;

}

.csv-file-uploader-ammar .imglist {
  height: 100px;
  width: 100px;
  display: inline-flex;
  overflow: hidden;
  margin: 10px;
    outline: 1px solid #ccc;
}
.csv-file-uploader-ammar .category-image {
  border-style: solid;
  border: 0 !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 100px;
}
.temporary-image {
  padding-left: 215px;
}
.product-catagory .temporary-image img {
  background-color: #fff;
}
.error-position .error {
  position: absolute;
  bottom: -23px;
  left: 0;
}
select.form-control {
  padding-right: 28px !important;
}

@media only screen and (max-width: 768px) {
  .temporary-image {
    padding-left: 0;
  }
  .modal.show {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown.dropdown-filter.mb-3.d-inline-flex {
    width: 100%;
    justify-content: center;
  }
  .signin-logo .logo-inner {
    align-items: center !important;
  }
  .dropdown-filter.show .dropdown-menu {
    top: 25px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .dashboard-page .leftside {
    top: 80px;
  }

  .dashboard-page.toggle-close .rightside {
    padding-left: 0 !important;
  }
  .menu-icon {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .new-subscription .form-group-vertical label {
    text-align: left !important;
  }
  .rolling-error .error {
    top: 22px !important;
  }

  .rolling-error3 .error {
    right: -6px !important;
    top: 45px !important;
  }
  .remove_bottom_margin{
    margin-bottom: 3rem !important;
  }
}

/* naseer */

.datepicker.datepicker-dropdown {
  padding: 5px 25px !important;
  background-color: var(--off-white);
  border: 1px solid var(--dark-red) !important;
}
.datepicker-switch,
.datepicker .datepicker-days tbody tr td,
.datepicker .datepicker-days thead tr .dow,
.datepicker .datepicker-days thead tr .datepicker-switch {
  color: var(--dark-red);
}
.datepicker-dropdown:after {
  border-top: 6px solid var(--off-white) !important;
}
.datepicker table tr td span.active,
.datepicker table tr td.active {
  background-color: var(--dark-red) !important;
  background-image: none !important;
}
.datepicker table tr td span {
  color: var(--dark-red);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: var(--dark-red);
  border-color: var(--dark-red);
}
.filter-tag {
  background-color: var(--off-white) !important;
  color: var(--dark-red) !important;
  border-radius: 6px;
  padding: 2px 12px;
  font-size: 12px;
  box-shadow: 3px 3px 5px #0000001c;
  margin-bottom: 10px;
}
.rm-filterby {
  padding-left: 15px;
  font-size: 6px;
  cursor: pointer;
}

.check-container .error {
  position: absolute;
  bottom: -32px;
  left: 30px;
}
.datepicker-orient-bottom:before {
    display: none;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
    border-top: 0 !important;
    border-bottom-color: var(--off-white) !important;
}
/*css for payment method*/

.ElementsApp .CardField {
  padding-top: 4px;
}
/*label {*/
/*    text-transform: inherit;*/
/*}*/
.dropdown-filter-custom {
  border: 2px solid var(--dark-red);
  height: 35px;
}
.dropdown-filter-position .dropdown {
  left: -2px;
  top: -2px;
}
.dropdown-filter-custom .btn {
  border: 0 !important;
  background-color: var(--dark-red) !important;
  color: #fff !important;
  min-height: 35px;
  display: flex;
  align-items: center;
  min-width: 114px;
  text-overflow: ellipsis;
  justify-content: space-between;
  position: relative;
}
.dropdown-filter-custom .show .btn {
  border-radius: 10px 10px 0 0 !important;
}
.dropdown-filter-custom .input-btn-sm {
  height: 31px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  width: 185px !important;
  max-width: 185px;
}
.dropdown-filter-custom .delivery-template-search-field {
  height: 31px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  width: 235px !important;
  max-width: 235px !important;
}
.dropdown-filter-custom .dropdown-menu {
  padding-bottom: 6px !important;
}
.dropdown-filter-custom .dropdown-menu .dropdown-item,
.dropdown-filter-custom .dropdown-menu {
  margin: 0 !important;
  color: #fff !important;
  background: var(--dark-red) !important;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  right: 0;
  min-width: 5px;
  top: -1px !important;
  border-top: 0 !important;
  will-change: inherit !important;
}
.dropdown-filter-custom .dropdown-menu a {
  font-size: 11px;
  color: #fff !important;
}
.dropdown-filter-border {
  border: 0 !important;
}
.dropdown-filter-border .btn-link-dropdown-1 {
  width: auto !important; 
  left: 0 !important;
  top: 0 !important;
}
.btn-sm {
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.admin-header-right .bdr-left {
	margin-right: 5px;
}
#category-filter-section .selectize-control.form-control,
.product-bb-cat .selectize-control.form-control,
.custom-selectize .selectize-control.form-control{
  border:none !important;
  padding: 0 !important;
}

.error-field .selectize-input{
  border: 1px solid var(--red) !important;
}
.dropdown-filter.show .dropdown-menu a.dropdown-item.multiple-update-sellers {
  padding-right: 5px !important;
}

.admin-subscription-status-dropdown{
  width: 175px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  font-size: 12px;
}

.hide_status{
  display: none;
}

.end-subscription-modal .endsub-icon {
	font-size: 45px;
	padding-bottom: 20px;
}
.footer-upper-border{
  border-top: none !important;
}
.end-subscription-link{
  text-decoration: underline !important;
}
.category-banner-image-error{
    color: red;
    font-size: 12px;
    padding-top: 4px;
    display: none
}
.select2-container--bootstrap4 .select2-selection{
  border-radius: 12px !important;
}
.error-field .select2-container--bootstrap4 .select2-selection{
    border: 1px solid red !important;
}
.select2-container {
  width: 100% !important;
}
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
  border: 1px solid #ced4da !important;
  border-radius: 10px !important;
  margin: 10px 0;
  padding: 10px;
}
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
  border-top: 1px solid #ced4da;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 5px 0;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
.positionZero {
  left: 0 !important;
  top: 0 !important;
  width: auto !important;
}
.confirmation-text {
  text-align: center;
  padding-bottom: 0 !important;
}
.badge-secondary{
  background-color: var(--red);
}

.delivery-detail-bt-title {
  white-space: normal;
  word-break: break-word;
  padding-right: 20px;
  max-width: 300px;
  min-width: 300px;
}
@media only screen and (min-width: 1025px) {
  .admin-dashboard.no-header {
    padding-top: 0 !important;
  }
  .admin-dashboard.no-header .admin-header {
    display: none;
  }
  .main-page-next .admin-header-inner .admin-header-left {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
  }
  .main-page-next .admin-header-inner .admin-header-left .dropdown-filter .dropdown-menu {
    right: 0;
    left: inherit !important;
  }
  .main-page-next h3.mt-4.mb-3 {
    position: fixed;
    top: 0px;
    z-index: 55555;
  }
}
@media (min-width: 576px) {
  .modal-dialog.modal-sm {
    max-width: 400px !important;
  }
}

/*pdp-register-drpdwn  */
.pdp-register-drpdwn .register-drp .dropdown-menu {
  margin-top: 20px;
  left: inherit !important;
  right: -10px !important;
  min-width: 320px !important;
  padding: 16px;
  border: 0;
  border-radius: 8px !important;
}

.pdp-register-drp-img span img {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 0 !important;
    object-fit: contain;
}

.pdp-register-drpdwn .register-drp .dropdown-menu:after {
    left: inherit;
    right: 20px;
}

.pdp-register-drpdwn .pdp-cart-brdr {
    border-bottom: 1px solid var(--dark-red);
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}
.subtotal {
  border-top: 1px solid var(--dark-red);
    padding-top: 10px;
}
.pdp-register-drpdwn .pdp-cart-brdr:last-child {
  border-bottom: 0;
}
.custome-input-dropdwsn .dropdown-menu,
.custome-input-dropdwsn .btn-link-dropdown {
    border: 2px solid var(--dark-red) !important;
}
.custome-input-dropdwsn .dropdown-menu {
    border-top: 0 !important;
}

.product-listing-input-fields {
    width: 125px !important;
    display: flex;
    max-width: inherit !important;
}

.pdp-register-drpdwn .btn-primary {
    background-color: var(--dark-red) !important;
    color: var(--off-white) !important;
}

.pdp-register-drpdwn .btn-sm {
    font-size: 12px !important;
    line-height: 14px;
    padding: 8px 12px 7px 12px !important;
}

.cart-image-section {
  width: 100px;
  height: 100px;
  border-radius: 6px !important;
  margin-right: 15px !important;
}

.cart-text-section {
    width: 60%;
}

/*pdp-register-drpdwn  */
.barometer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  height: 230px;
}
.barometer .container {
  transform: scale(0.7);
  /* transform-origin: 40% 0; */
  display: inline-block;
  width: 355px;
}

.form-group-vertical .login-page-label {
 min-width: 100px !important;
 max-width: 120px !important;
}

.form-group-vertical .forgot-password-label {
  min-width: 125px !important;
  max-width: 125px !important;
}

.seller-order-sub-table {
    width: 100%;
    margin-top: -12px;
}
.Yavolo-table table thead tr th .seller-order-sub-table {
    margin-top: 0 !important;
}
.seller-order-sub-table tr {
    border-bottom: 1px solid #6405294f !important;
}
.seller-order-sub-table tr:last-child {
    border-bottom: 0 !important;
}

.seller-account-delivery-setting {
width: 75%;
}

.filter-by-dropdown {
  min-width: 135px;
}



.seller-subscription-td-width {
  width: 20%;
}
.flex1 {
  flex: 1;
}

.seller-account-phone-no {
  width: 40%;
}

.pointer-events-none {
    pointer-events: none;
}

.icon-help-style{
  position: absolute;
  top: 8px;
  left: -15px;
}
@media only screen and (max-width: 992px) {
  .icon-help-style{
    position: absolute;
    top: -24px;
    left: 6px;
  }
}

/* edite yavolo listings */
.product-bg-title {
    background-color: var(--dark-red);
    width: 36px;
    height: 36px;
    color: var(--off-white);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -22px;
    top: 2px;
}
.product-bg-title-bordr {
    border-bottom: 2px solid var(--dark-red);
    margin-left: 22px;
}
.product-bg-name {
  max-width: 80%;
}
.yo-price-inpt {
    width: 100%;
    height: 36px;
    color: var(--dark-red);
    border: 1px solid #D6D6D6 !important;
    border-radius: 12px;
    padding: 3px ;
}
.yo-price-inpt:focus {
    border: 1px solid var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    box-shadow: none !important;
    outline: none !important;
}

.yo-price-inpt:read-only{
    background: lightgray;
}

.label-custm-min label {
    min-width: 86px !important;
    font-size: 12px !important;
    font-weight: bold;
    width: auto;
}
.form-control::placeholder {
    color:#D6D6D6;
    opacity: 1; /* Firefox */
}
.label-custm-min .form-control {
    padding: 5px !important;
    max-width: 65px !important;
    color: var(--dark-red);
    font-size: 12px;
    height: 33px;
}
.label-custm-min .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D6D6D6 !important;
}

.yavolos-bundle-products-container{
    overflow-y: auto;
    max-height: 1300px;
    width: 100%;
}

.yavolos--summary .label-custm-min .form-control {
    background: lightgray;
}

.yavolos--summary .label-custm-min .form-control:focus {
    background: white;
}

.yavolos--summary .label-custm-min .form-control:read-only{
    background: lightgray;
}

.yavolos--summary .input-error-text{
    width: 140px;
    position: absolute;
    right: 50px !important;
    text-align: right;
}

.yavolos--summary .yavolos--stock-limit .input-error-text{
    color: red;
    top: 80%;
    right: 10px !important;
    max-width: 268px;
    font-size: 10px;
    text-align: left;
    position: absolute;
    min-width: 223px;
}

.productreview-slider.review-slider .carousel-arrow-parent {
    display: flex;
    position: absolute;
    right: 0;
    top: -38px !important;
    right: 8px;
}
.productreview-slider .review-card {
    margin: 6px 0 !important;
}
.Product-Review-text {
    padding-left: 11px;
}

.boldheadings {
  font-weight: bold;
}
.cross-input-btn .search-input {
  width: 100% !important;
  max-width: inherit !important;
}

.dropdown-filter-custom a.cross-btn-center {
  display: inline-flex !important;
  width: auto !important;
  position: absolute;
  right: 0;
  padding: 10px !important;
  top: -1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: auto !important;
}
.cross-btn-center:hover {
  text-decoration: none !important;
}
.cross-btn-center .icon-cross {
  position: sticky;
}
.discount-symbol {
  position: absolute;
  right: 4px;
  top: 13px;
}
.relative {
  position: relative;
}
.input-discount.form-control {
  padding: 5px 2px 5px 5px !important;
  width: 75px;
}

@media screen and (max-width: 767px) {
	.seller-account-delivery-setting {
		width: 100%;
	}
}
/* refund-detail-block */
.refund-detail-header {
    background-color: var(--dark-red);
    border-radius: 12px;
    color: var(--off-white);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.refund-detail-header div span {
  font-size: 12px;
}
.refund-detail-body {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 12px;
}
.refund-detail-body textarea.form-control {
  border-color: var(--dark-red) !important;
  border-radius: 6px !important;
  font-size: 12px;
  min-height: 80px;
}
.add-new-seller-form label {
  font-size: 14px;
}
.form-control:focus {
  border-color: var(--dark-red) !important;
}
.add-new-seller-form input::placeholder,
.ck.ck-placeholder:before, .ck .ck-placeholder:before,
.editform-form input::placeholder,
.refund-input::placeholder,
.refund-detail-body textarea.form-control::placeholder {
  color: var(--dark-red) !important;
  opacity: 1;
}
.add-new-seller-form input:-ms-input-placeholder,
.editform-form input:-ms-input-placeholder,
.refund-input:-ms-input-placeholder,
.refund-detail-body textarea.form-control:-ms-input-placeholder {
 color: var(--dark-red);
}
.add-new-seller-form input::-ms-input-placeholder,
.editform-form input::-ms-input-placeholder,
.refund-input::-ms-input-placeholder,
.refund-detail-body textarea.form-control::-ms-input-placeholder {
 color: var(--dark-red);
}
.flex1 {
    flex: 1;
}
.white-mark .check-mark-white {
    border: 2px solid #fff;
    top: -2px;
}
.white-mark label {
    font-size: 12px;
}
.refund-table thead th {
    border: 0;
}
.border-test {
    border: 1px solid var(--dark-red);
    border-radius: 10px;
}
.refund-table td,
.refund-table th {
    font-size: 12px;
    border: 0;
    padding: 3px;
    vertical-align: middle;
    color: var(--dark-red);
}
.refund-input {
    border: 1px solid var(--dark-red);
    border-radius: 8px;
    background-color: transparent;
    padding: 3px 10px;
    color: var(--dark-red);
    width: 85px;
    height: 33px;
    text-align: right;
}
.refund-input:focus {
    outline: none;
    box-shadow: none;
}
.refund-input::-webkit-outer-spin-button,
.refund-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.refund-detail-body td {
    width: 20%;
}
.refund-detail-body td:first-child {
    width: 40%;
}
.refund-subtotal-table td:first-child {
    width: 60% !important;
}
/* .refund-table tbody tr td {
	border: 1px solid;
	border-radius: 5px;
} */
.btn-text-hvr {
    min-width: 230px;
    text-decoration: none;
    vertical-align: middle;
}
.btn-text-hvr:hover span {
    display:none
}
.btn-text-hvr:hover:before {
    content:"CONFIRM REFUND & CLOSE TICKET";
}
/* refund-detail-block */

.assign-category-form label{
  min-width: 130px;
}
.form-control.assign-category-bulk-select-tag {
  border: none !important;
  padding: 0 !important;
}
.assign-category-form .form-control .selectize-input {
  padding: 10px 15px;
  word-break: break-all;
  white-space: normal;
}
.selectize-input.focus{
  outline: none !important;
  box-shadow: none !important;
}
.bold-label {
  font-weight: 600;
}
.login-form-label-space, 
.login-form-space .form-group-vertical label{
  min-width: 270px !important;
}

/* edite yavolo listings */
.set-subscription-form-lable{
  min-width: 169px !important;
  font-weight: 600;
}
/* bg-hvr-dropdown */
.bg-hvr-dropdown .btn-link-dropdown {
	border: 1px solid var(--dark-red) !important;
	border-radius: 6px;
	background-color: #fff !important;
	font-size: 12px;
	height: 38px;
  text-decoration: none;
  }
  .bg-hvr-dropdown .dropdown-filter.show .btn-link-dropdown,
  .bg-hvr-dropdown .btn-link:hover {
	background-color: #fff !important;
	border-radius: 6px;
	z-index: 4444;
  }
  .bg-hvr-dropdown .dropdown-filter.show .dropdown-menu {
	background-color: #fff;
	border: 1px solid var(--dark-red);
	border-radius: 6px;
	padding: 5px;
	top: 35px !important;
	min-width: 40px;
  }
  .bg-hvr-dropdown .dropdown-menu a  {
	  font-size: 12px !important;
	  word-break: break-all;
	  white-space: normal;
	  padding:  6px 12px !important;
  }
  .bg-hvr-dropdown .dropdown-menu a:hover {
	background-color: var(--light-red) !important;
	border-radius: 6px;
	padding: 0 5px;
  }
  /* bg-hvr-dropdown */
/* bg-hvr-drpdwn-2 */
.bg-hvr-drpdwn-2.bg-hvr-dropdown .dropdown-filter.show .dropdown-menu {
	border-radius: 0 0 6px 6px !important;
	border-top: 0 !important;
	top: 32px !important;
}
/* bg-hvr-drpdwn-2 */
.delivery-option {
  border: 1px solid #D6D6D6;
}

.other-reason{
  overflow-y: auto;
  max-height: 158px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  padding-top: 3px;
}

.dropdown-filter.show .dropdown-menu .active-sub{
  background-color: var(--light-red) !important; 
  color: var(--dark-red) !important;
  border-radius: 10px;
  user-select: none;
}
.delivery-option {
  border: 1px solid #D6D6D6;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  outline: var(--dark-red) !important;
    border: var(--dark-red) !important;
    box-shadow: var(--dark-red) !important;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border: 1px solid #ccc !important;
}

.new-subscription .form-group-vertical label {
	text-align: right;
	padding-right: 15px !important;
}

#subscription-dynamic-form .error{
  max-width: 100%;
  width: 100%;
  text-align: left;
}
#subscription-dynamic-form .pl-padding{
 padding-left: 30px!important
}
.rolling-error .error {
  position: absolute;
  left: 0;
  max-width: 100% !important;
  right: 0;
  min-width: 400px;
  top: 30px;
}
.rolling-error.rolling-error-1 .error {
  top: 24px;
}
#subscription_months {
  min-width: 100px;
}

.rolling-error3 .error {
  position: absolute;
  left: inherit;
  max-width: 100% !important;
  right: -20px;
  min-width: 200px;
  top: 40px;
}



/* generated by https://loading.io/ Button Loader*/

@keyframes ldio-q57eiqc90zl {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-q57eiqc90zl div {
  position: absolute;
  width: 69px;
  height: 69px;
  border: 5px solid #ec2330;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-q57eiqc90zl div {
  animation: ldio-q57eiqc90zl 0.8474576271186441s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-x9emz9hqb6q {
  width: 21px;
  height: 21px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-q57eiqc90zl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.21);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-q57eiqc90zl div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.remove_bottom_margin{
  margin-bottom: 0px;
}
.order-summary-basket-cross {
    color: white;
    background-color: var(--dark-red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 12px;
    height: 12px;
    padding-bottom: 2px;
    /* padding-left: 1px; */
    cursor: pointer;
    margin-top: 2px;
}

.visa-number {
  line-height: 21px;
}

.visa-pix.pay-cards {
  height: 42px !important;
  width: 80px !important;
}

.no-hover.btn-danger :hover  {
    color: #fff !important;
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color) !important;
}

.bundling-title-border {
	border-bottom: 2px solid var(--red);
}
.order-name-width {
  max-width: 230px;
}
.award-badge {
  width: 24px;
  margin-right: 12px;
}

.descrptn-left-img {
	border: 2px solid var(--dark-red);
}
.descrptn-left-img img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}
.bundling-list li {
	list-style: disc !important;
	font-size: 14px;
    margin-left: 15px;
	
}
.bundling-title-border {
	border-bottom: 2px solid var(--red);
}
.bundling-review-block {
	max-height: 300px;
    width: 400px;
    padding: 20px;
}
.bundling-smily-logo {
	font-size: 22px;
	padding-right: 8px;
}
.bundling-logo-title {
	line-height: 15px;
}
.dollar-img {
  width: 52px;
}
.splide__slide img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* bundling-tabs-links */
.bundling-tabs-links .active {
	color: var(--red);
	border-bottom: 2px solid var(--red);
}
/* bundling-tabs-links */
/* bundling-images */
.bundle-block-pad {
	padding: 10px 55px;
}
.plus-bundling {
	position: absolute;
    right: -21px;
    font-size: 22px;
    font-weight: 600;
}
.plus-bundling-botm {
	position: absolute;
    bottom: 29%;
    padding-bottom: -3px;
    font-size: 22px;
    font-weight: 600;
}
.new-subscription .form-group-vertical label {
	text-align: right;
	padding-right: 15px !important;
}
.bundling-img-rest {
	width: 100%;
	max-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bundling-img-rest img {
	object-fit: contain;
	width: 100% !important;
	max-height: 110px;
}
.bundling-main-img {
	width: 100%;
	/* height: 260px; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.bundling-main-img img {
	width: 100%;
	object-fit: contain;
	height: 165px;
}
.bundling-label-img {
	width: 200px;
	margin-left: auto;
}
/* bundling-images */

.word-break {
  word-break: break-all;
}
.col-img-profile {
  width: 220px;
  height: 166px;
  object-fit: contain;
  min-width: 166px;
}

.empty-card-height {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in-basket-btn {
  width: 200px;
  margin-top: 20px;
}

.cart-image-display {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
/* .buyer-footer-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
} */
.absolute {
    position: absolute;
}
.no-hover {
  pointer-events: none;
}
.photo-grid {
  min-height: 300px;
}

.manual-yavolo-img-height{
    min-height: 300px;
}

.width-300 {
  max-width: 300px;
}
.height-200 {
  min-height: 200px;
}

/* pdp-single-image-slider */
.pdp-imges-single {
	width: 100%;
	height: 450px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pdp-card .pdp-img.pdp-imges-small {
	width: 100%;
	min-height: 158px !important;
}
.pdp-imges-small img {
	width: 100%;
	height: 85px !important;
	object-fit: contain;
}
.pdp-min-p {
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 10px;
  margin-bottom: 26px;
}
.pdp-min-p.pdp-min-single {
  margin-bottom: 10px;
}
@media screen and (max-width: 1100px) {
	.rating-wrap {
		flex-wrap: wrap;
	}
}
/* pdp-single-image-slider */
.contact-page {
  text-align: center;
  min-height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

/* ======login & security===== */
.yo-profile-images {
	width: 120px;
	height: 120px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.dpdown-min-width {
	min-width: 300px !important;
}
.checkbox-blk.logged_in_checkbox{
  padding: 0 30px !important;
}
@media screen and (max-width: 480px) {
	.dpdown-min-width {
		min-width: inherit !important;
	}
}
.font-20 {
  font-size: 20px;
}

.splide__track {
  position: static !important;
}
#main-slider .text-right.pr-3.pt-3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.center-placing .pdp-card .pdp-img {
  min-height: 180px;
}
.clr {
  color: var(--red);
}
.th-lowercase {
  text-transform: lowercase;
}

/* ==cleared notifications=== */
.notify-col {
	min-height: 350px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notify-icons {
	font-size: 20px;
    color: var(--red);
    background-color: #ffecee;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
}
.bg-offwhite {
	background-color: var(--off-white);
}
.pdp-cleared-notify-slider .slick-prev {
	right: 50px !important;
} 
.pdp-cleared-notify-slider .slick-next {
	right: 0px !important;
} 
.pdp-cleared-notify-slider {
	margin-right: 43px;
}
.pdp-cleared-notify-slider.slick-prev:hover::before, 
.pdp-cleared-notify-slider.slick-next:hover::before{
	color: #640529 !important;
    background-color: #eee0d3 !important;
}

.back-button-position{
  position: relative;
  top: -1px;
}

a.buyer-card-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
	.pdp-cleared-notify-slider {
		margin-right: 0px;
	}
}

/* ==cleared notifications=== */

.get-child-for-removal li:nth-child(6) {
  display: none;
}

.dropdown-filter-custom.alter-light-texture .btn {
   background-color: transparent !important;
    color: var(--dark-red) !important;
}
.dropdown-filter-custom.alter-light-texture .show .btn,
.dropdown-filter-custom.alter-light-texture .btn:hover {
  background-color: var(--off-white) !important;
  color: var(--dark-red) !important;
}
.dropdown-filter-custom.alter-light-texture .dropdown-menu .dropdown-item, 
.dropdown-filter-custom.alter-light-texture .dropdown-menu {
  background-color: var(--off-white) !important;
  border: 0 !important;
  overflow: inherit !important;
}
.dropdown-filter-custom.alter-light-texture .dropdown-menu {
  padding: 0 !important;
}

.dropdown-filter-custom.alter-light-texture .dropdown-menu a.disabled-texture:hover {
  background-color: #fff !important;
}

.dropdown-filter-custom.alter-light-texture .dropdown.show .btn {
  position: relative;
  z-index: 1222;
}

.dropdown-filter-custom.alter-light-texture .dropdown-menu a {
  border-radius: 0 !important;
  border: 0 !important;
  color: var(--dark-red) !important;
}

.dropdown-filter-custom.alter-light-texture .dropdown-menu a:last-child {
  border-radius: 0 0 10px 10px !important;
}

.dropdown-filter-custom.alter-light-texture .dropdown.show .dropdown-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: -34px;
  right: 0;
  bottom: 0px;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000001c;
}
.search-field svg, .search-field i {
  top: 10px !important;
  right: 12px !important;
  width: 13px !important;
  height: auto !important;
  opacity: 0.6;
}
.cross_link_icon {
  position: absolute;
  top: 3px;
  width: 20px !important;
  right: 0;
  font-size: 9px !important;
  padding: 0 !important;
}
strong {
  font-weight: 600 !important;
}

.reset-password-btn {
  width: 53% !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto !important;
}
.cross_link_icon {
  position: absolute;
  top: 3px;
  width: 20px !important;
  right: 0;
  font-size: 9px !important;
  padding: 0 !important;
}
.cross_link_icon {
  position: absolute;
  top: 3px;
  width: 20px !important;
  right: 0;
  font-size: 9px !important;
  padding: 0 !important;
}
.main-header .navbar-nav.navbar-nav-icons.ml-auto{
  min-width: 160px;
  margin-left: 0 !important;
}
.pageresut-text p {
  font-size: 14px;
  margin-bottom: 18px;
}
.text-inherit {
  text-transform: inherit !important;
}
.order-table-row a:not(.btn) {
  text-decoration: underline;
}
.category-products-form .Yavolo-table table tbody tr:last-child {
  border-bottom: 0 !important;
}
.upload-text {
  margin-top: 15px;
}
#category-filter-section {
  display: none;
}
@media screen and (min-width: 1100px) {
  .tabme-top {
    margin-top: -30px;
  }
  .modal {
    padding-left: 260px !important;
  }
}
.scroll-over {
  max-height: 132px;
  overflow-y: auto;
  padding-right: 15px;
  margin: 0 -24px;
  padding: 0 30px;
}

.scroll-over::-webkit-scrollbar {
  display: block;
}
.scroll-over::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}
.scroll-over::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--dark-red);
}



/* ==================================================== */
/* ==================== Sellers ======================= */
/* ==================================================== */


.seller-layout .sideheader {
  border-bottom: 1px solid #ffffff47;
}

.form-group .link-filter{
    min-width: 130px;
    font-weight: 600;
}
.eye-img img {
  width: 20px;
}
.remove-text-heading {
  font-size: 17px;
}

.grid-single-img .img-del-icon svg,
.grid-single-img .icon-star-empty svg {
  display: none;
}
.grid-single-img .img-del-icon,
.grid-single-img .icon-star-empty {
  background: url("star-unfilled.png") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block !important;
  background-size: 18px;
  text-indent: -9999px;
}
.grid-single-img .img-del-icon {
  background: url("trash.png") no-repeat;
  background-size: 18px;
}
.img-star-icon.featured .icon-star-empty {
  background: url("star-filled.png") no-repeat;
  background-size: 18px;
}
/* resizing the modal width for admin & seller delivery template */
.add-new-template-modal.modal-dialog {
    max-width: 980px !important;
}
.delivery-template-input.form-control {
    border: 1px solid var(--dark-red) !important;
}
.transparent-bg.form-control {
    background-color: transparent;
}
.delivery-template-disabled .btn-link:disabled, .btn-link.disabled {
    color: var(--dark-red) !important;
}
.bundle-text-downcase {
    text-transform: inherit;
}

.filter-group-btn input {
    border-radius: 8px;
}
.filter-group-modal .modal-header .close {
    font-size: 40px;
}
.state-content.links a:hover {
    text-decoration: none;
}

.order-complete-summary-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-order-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.order-complete-delivery-icon {
  font-size: 20px;
  color: var(--red);
  padding-right: 10px;
}


.order-yavolo-bundle-icon:hover {
  cursor: default;
}
_form.html.erb
.edit_seller .yo-red-card .btn-primary:hover,
.edit_seller .btn-primary.btn-block:hover,
.new_seller .btn-primary.btn-block:hover {
    background-color: #640529 !important;
    color: #fff !important;
}

/*============= unsigned seller footer  ============*/
.yo-icon-footer {
    font-size: 40px;
    color: var(--red);
}
.sign-in-yo-footer {
    background-color: var(--off-white);
}
.seller-hub-footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top: 15px;
}

/*============= unsigned seller footer  ============*/


.listing-record-btn {
  width: 200px;
}

.cart-scroll {
  max-height: 400px;
  overflow-y: auto;
}

#admin-sellers-update-form {
    padding: 0 35px 0 10px;
}
#admin-sellers-update-form .form-group-vertical label {
    text-align: right;
    margin: 0 15px 0 0;
    max-width: inherit;
    font-weight: 600;
}
.reset-password-token-modal {
    padding-top: 0;
}
.reset-password-token-modal #error-message {
    display: none;
}

.min-width-140 {
  min-width: 140px !important;
}

.min-width-200 {
  min-width: 200px;
}

.cross-btn-position {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px !important;
}

.seller-header {
  flex-wrap: wrap;
}
.seller-header .register-now-bt {
  min-width: 210px;
  width: auto !important;
  padding: 10px !important;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: center;
  border-radius: 50px !important;
  margin-left: 15px !important;
}
.bold {
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .seller-header .signin-logo {
    width: 100%;
    justify-content: space-between;
  }
  .seller-header .register-now-bt {
    margin: 5px 10px !important;
  }
  .seller-header.signin-header .right a.account-link {
    margin: 0;
    flex: 1;
  }
  .seller-header.signin-header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    flex: 1;
  }
}

.delivery-option-form-container .select2-container--default .select2-selection--single {
  border-radius: 12px;
  height: 28px;
  border: 1px solid var(--dark-red);
}

.delivery-option-form-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--dark-red);
  line-height: 27px;
  font-size: 14px;
}

.delivery-option-form-container .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent var(--dark-red) transparent;
}

.delivery-option-form-container .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: var(--dark-red) transparent transparent transparent;
  top: 50%;
}

.delivery-option-form-container .select2-container--open .select2-dropdown--below {
  position: absolute;
  top: -2px;
  left: -1px;
  border: 1px solid var(--dark-red);
  border-top: 0;
}

#deliveryTemplateForm .select2-container--open .select2-dropdown--above {
  border-radius: 12px 12px 0 0 !important;
  border-top: 1px solid var(--dark-red) !important;
  border-bottom: 0 !important;
  top: 5px !important;
}
#deliveryTemplateForm .select2-container--open .select2-dropdown {
  border: 1px solid var(--dark-red);
  top: -2px ;
  left: -1px !important;
  border-top: none;
  border-radius: 0px 0px 12px 12px;
  font-size: 14px;
}

#deliveryTemplateForm .select2-container--default .select2-results__option--selected {
  background: none !important;
}

#deliveryTemplateForm .select2-container--default .select2-results > .select2-results__options {
  max-height: 185px;
}

#deliveryTemplateForm .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none;
  color: var(--dark-red);
}

.error-field .select2-container--default .select2-selection--single {
  border: 1px solid var(--danger-color);
}

#deliveryTemplateForm .select2-results__option {
  padding: 5px 9px;
}

.form-control.ship-price-field {
  height: 28px;
  border: 1px solid var(--dark-red) !important;
}

.select2-container--open .select2-dropdown--below {
  position: absolute;
  top: -2px;
  left: -1px;
  border: 1px solid var(--dark-red);
  border-top: 0;
}

.select2-container--open .select2-dropdown--above {
  border-radius: 12px 12px 0 0 !important;
  border-top: 1px solid var(--dark-red) !important;
  border-bottom: 0 !important;
  top: 5px !important;
}

.select2-container--open .select2-dropdown {
  border: 1px solid var(--dark-red);
  top: -2px;
  left: 0px !important;
  border-top: none;
  border-radius: 0px 0px 12px 12px;
  font-size: 14px;
}

.select2-container--default .select2-results__option--selected {
  background: none !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 185px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none !important;
  color: var(--dark-red) !important;
}
