/* put all custom css here */
.form-control.yavolo-box-top-select {
  width: 110px !important;
}
.add-photoo.photos-uploader-section {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ckeditor 5 fields style */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.error-field
  .ck-rounded-corners
  .ck.ck-editor__top
  .ck-sticky-panel
  .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border: 1px solid var(--red);
}
.error-field .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border: 1px solid var(--red);
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  padding: 8px 0px;
  border-radius: 12px;
}

.error-field .bootstrap-tagsinput {
  border: 1px solid var(--red);
}
.bootstrap-tagsinput .badge {
  margin: 0px 3px;
}

.page-item.active .page-link {
  background-color: #ff3e55 !important;
  color: #ffffff !important;
}
.pager-middle .page-item .page-link {
  display: inline-flex;
  border-radius: 30px !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 32px;
  width: auto !important;
}

.formme {
  position: relative;
  padding-bottom: 150px;
}
.bottom-mee {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.ck.ck-editor {
  margin-bottom: 10px !important;
  flex: 1;
  overflow: hidden;
}
#filter_in_categories {
  position: relative;
}
#filter_in_categories .nested-fields {
  padding-right: 15px;
  position: relative;
}
#filter_in_categories .links a {
  text-decoration: none !important;
}
.filter_in_categories.remove_fields,
#filter_in_categories .links {
  position: absolute;
  right: 0;
  top: 7px;
}
.filter_in_categories.remove_fields span {
  display: none;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--dark-red);
  background-color: transparent;
}

.pluse-btn {
  background-color: transparent;
  border: 0;
  text-decoration: none !important;
}

.checkbox-blk-box.checkbox-blk .checkmark:after {
  width: 12px !important;
  height: 12px !important;
}
.dashboard-page.toggle-close .sidebody {
  overflow-y: hidden;
}

.dashboard-page.toggle-close .sidebody::-webkit-scrollbar {
  width: 1px;
}

.sidebody::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.dashboard-page.toggle-close .sidebody::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background-color: var(--dark-red);
}

.nowrap .dropdown-menu a {
  word-break: break-word;
  white-space: normal;
}
.sign-in {
  min-height: 400px !important;
}
/* .dropdown-filter.show .dropdown-menu a {
    word-break: break-word;
    white-space: normal;
} */

.sidebody {
  max-height: calc(100vh - 115px) !important;
  overflow-y: auto !important;
}
.menuBtn {
  background-color: var(--red);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none !important;
}
.menuBtn span {
  margin: 0 !important;
}
.dashboard-page.toggle-close .rightside {
  padding-left: 60px !important;
}
.dashboard-page.toggle-close .sideheader .logo {
  width: 32px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}
.dashboard-page.toggle-close .sideheader .logo img {
  min-width: 120px;
}
.dashboard-page.toggle-close .sideheader {
  padding: 30px 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-page.toggle-close .sideheader p {
  display: none;
}
.dashboard-page.toggle-close .leftside {
  max-width: 60px !important;
}
.dashboard-page.toggle-close .sidebody li a {
  display: flex;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 38px;
  overflow: hidden;
  justify-content: center;
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:first-child {
  margin-right: 0 !important;
}
.dashboard-page.toggle-close .sidebody li a span:last-child {
  display: none;
}
.dashboard-page.toggle-close .sidebody li ul {
  display: none !important;
}
.dashboard-page.toggle-close .sidebody {
  max-height: calc(100vh - 114px) !important;
  padding: 12px !important;
}
.notice,
.alert {
  text-align: center;
}
.dashboard-page .rightside {
  overflow-x: hidden;
}

.admin-header {
  border-bottom: 1px solid black;
  min-height: 82px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 280px;
  z-index: 55555;
  transition: .3s linear;
  background-color: #fdf8f3;
}
.toggle-close .admin-header {
  left: 60px;
}

.progress-bar-outer {
  width: 100%;
  overflow: hidden;
  height: 6px;
  background-color: #ff3e55a3;
}

.progress-bar-inner {
  height:10px;
  width: 25%;
  background-color: var(--red);
}

.admin-dashboard {
  padding-top: 82px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.y-page-container {
  flex: 1;
}
.alert,
.notice {
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 55555;
  background-color: var(--light-red);
  color: var(--red);
  padding: 12px;
  width: 450px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px;
  transition: .3s linear;
}
.notice-msg,
.alert-msg {
  right: 0;
}
.notice-msg span ,
.alert-msg span {
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 3px;
}
.notice-msg span {
  cursor: pointer;
}
.badge-info {
    background-color: var(--light-red) !important;
    color: var(--red) !important;
    border-radius: 20px;
    padding-top: 3px !important;
    padding-bottom: 6px !important;
    padding-left: 10px !important;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  background-color: transparent !important;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 0 !important ;
}
.notice-cross-icon span {
  cursor: pointer;
}


.admin-login .form-control::placeholder {
    color: #aaa !important;
    opacity: 1; /* Firefox */
}

.admin-login .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa !important;
}

.admin-login .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa !important;
}

.form-check {
  padding-left: 0 !important;
}

.logo img {
  width: 145px;
}

.seller-products-filters .fa-check,
.bulk-actions .fa-check{
  display: none;
}
.seller-products-filters .dropdown-item.active .fa-check,
.bulk-actions .dropdown-item.active .fa-check{
  display: block;
}

.dropdown-filter.show .dropdown-menu {
  min-width: 40px;
  top: 28px !important;
}
.dropdown-filter.show .dropdown-menu a {
  word-break: break-word;
  white-space: normal;
  font-size: 12px;
  padding: 3px 12px 3px 18px !important;
  justify-content: flex-start;
  transition: .3s linear;
  line-height: 13px;
}
.dropdown-filter .dropdown-menu a svg {
    position: absolute;
    right: 10px;
    transition: .3s linear;
}
.dropdown-filter-field .dropdown.show .product-search-dropdown svg,
.dropdown-filter.show .btn-link-dropdown svg {
  transform: rotate(180deg);
}

.Yavolo-table .checkbox-blk {
  margin-bottom: 0 !important;
  min-height: 20px;
}
.Yavolo-table table td .checkmark {
  top: 0 !important;
}
.dropdown-filter-field .dropdown-item {
  font-size: 14px;
  padding: 2px 14px;
}
.Yavolo-table {
  overflow-x: auto;
}
.Yavolo-table-min-height.Yavolo-table table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
}
.uploader-btn {
  position: relative;
  width: 100px !important;
  display: flex;
  text-align: center;
  justify-content: center;
}
.uploader-btn-1 {
  width: 150px !important;
}
.uploader-btn:before {
  content: "Upload";
}
.uploader-btn-1:before {
  content: "Select From Gallery";
}
.uploader-btn input {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

/* hide number field spin buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-field-flex small {
    font-size: 10px;
}
.modal-header {
    border-bottom: 0 !important;
}

.simple_form.new_filter_group .checkbox-blk {
    padding-top: 3px;
}
.admin-header-left .dropdown-filter.show .dropdown-menu {
    min-width: 200px !important;
}

.pluse-aa .state-content.links {
  position: absolute;
  right: 0;
  top: 10px;
}
.pluse-aa .remove_fields {
  position: absolute;
  right: -15px;
}


.new_filter_group .error-field {
  position: relative;
  }
  .new_filter_group .form-text {
    position: absolute;
      top: 37px;
      left: 205px;
  }
  .new_filter_group .filter-type {
    margin-top: 25px;
  }
  
  .error-field .form-control {
    border: 1px solid var(--red) !important;
  }
  
  /* ------------------ */


.error {
  color: var(--red) !important;
    font-size: 14px !important;
    padding: 3px 5px !important;
}


.add-edit-product-photos {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-single-img {
  height: 120px;
  background-color: #ccc;
  overflow: hidden;
}

.grid-single-img img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.selectize-input {
  border: 1px solid #D6D6D6 !important;
  border-radius: 12px !important;
  min-height: 38px !important;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  display: none;
}
.dropdown.dropdown-filter.mb-3.d-inline-flex {
  margin-bottom: 0 !important;
}
.email-in-table {
  word-break: break-all;
  min-width: 100px;
  display: flex;
}
.menu-icon {
  display: none;
  font-size: 18px !important;
  text-decoration: none !important;
}
.dashboard-page .leftside.leftside-open {
  left: 0;
}
.seller-api-token {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin-right: 10px;
}


@media only screen and (max-width: 600px) {
  .dropdown.dropdown-filter.mb-3.d-inline-flex {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .dashboard-page .leftside {
    top: 80px;
  }


  .dashboard-page.toggle-close .rightside {
    padding-left: 0 !important;
  }
  .menu-icon {
    display: inline-block;
  }
}
