:root {
  --white: #fff;
  --black: #000;
  --dark-red: #640529;
  --off-white: #F9EDE1;
  --light-red: #FFD8DD;
  --red: #FF3E55;
  --danger-color: #FF3E55;
  --bgWhite: #FDF8F3;
  --green: #42E034;
  --defualt-red: #F60000;
}
body{
    margin: 0px;
    font-family: 'BuenosAires';
    background-color: var(--bgWhite);
    color: var(--dark-red);
}
.black-text {
    color: var(--black);
}
a:hover,
a {
    color: var(--dark-red);
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'BuenosAires';
    font-weight: 600;
}
.dark-red-text {
    color: var(--dark-red) !important;
}
.light-red-text {
    color: var(--light-red) !important;
}
.red-text {
    color: var(--red) !important;
}
.off-white-text {
    color: var(--off-white) !important;
}
.green-text {
    color: var(--green) !important;
}
.overflow-hidden {
    overflow: hidden;
}
.btn {
    font-size: 16px;
    padding: 7px 7px 6px 7px;
    text-align: center;
    border: 2px solid transparent;
}
.btn-lg {
    padding: 12px 12px 10px 12px;
}
.btn-sm {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 12px 7px 12px;
}
.btn.focus, 
.btn:focus {
    box-shadow: none !important;
}
.tabsme a {
    color: #000;
    border-radius: 4px;
    margin-bottom: 10px;
}
.tabsme .nav-link.active {
    background-color: var(--dark-red);
    color: #fff;
}
.tab-content.tab-content-yo {
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--dark-red);
}


/*Typography*/

h1 {
    font-size: 52px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
.sm-text {
    font-size: 14px !important;
}
.mm-text {
    font-size: 12px !important;
}

/*Typography*/



/*Button Style*/



.btn-primary {
    background-color: var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    color: var(--off-white) !important;
    box-shadow: none;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary:hover {
    background-color: transparent;
    color: var(--dark-red);
    border-color: var(--dark-red);
}
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,
.btn-secondary:hover,
.btn-secondary {
    background-color: var(--light-red);
    border-color: var(--light-red);
    color: var(--red);
}

.btn-outline-primary {
    color: var(--dark-red);
    background-color: transparent;
    background-image: none;
    border-color: var(--dark-red);
}
.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}
.btn-outline-white {
    color: var(--white);
    background-color: transparent;
    background-image: none;
    border-color: var(--white);
}
.btn-outline-white:not([disabled]):not(.disabled).active, .btn-outline-white:not([disabled]):not(.disabled):active, .show>.btn-outline-white.dropdown-toggle,
.btn-outline-white:hover {
    color: var(--dark-red);
    background-color: var(--white) !important;
    border-color: var(--white);
}
.btn-bg-white {
    color: var(--dark-red);
    background-color: var(--white) !important;
    border-color: var(--white);
}
.btn-danger {
    color: #fff;
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
.btn-bg-white:hover {
    color: var(--white);
    background-color: transparent !important;
    background-image: none;
    border-color: var(--white);
}
.btn-radius {
    border-radius: 30px;
}
.btn-radius-12 {
    border-radius: 12px;
}
.btn-radius-6 {
    border-radius: 6px;
}

.btn-link {
    color: var(--dark-red);
}
.dropdown-filter.show .btn-link-dropdown,
.btn-link:hover {
    text-decoration: none;
    background-color: var(--off-white);
    color: var(--dark-red);
}
.dropdown-filter.show .btn-link-dropdown {
    border-radius: 12px 12px 0 0;
}
.dropdown-filter.show .dropdown-menu {
    background-color: var(--off-white);
    border: 0;
    right: 0;
    transform: inherit !important;
    top: 35px !important;
    min-width: 140px !important;
}
.dropdown-filter.show .dropdown-menu a {
    color: var(--dark-red);
    background-color: transparent;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.dropdown-filter .btn-link-dropdown i {
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
}
.dropdown-filter.show .btn-link-dropdown i {
    transform: rotate(180deg);
}
.dropdown-filter.show .dropdown-menu a i {
    display: none;
    font-size: 12px;
}
.dropdown-filter.show .dropdown-menu a svg {
    width: 12px !important;
}
.dropdown-filter.show .dropdown-menu a.active i {
    display: block;
}
.dropdown-filter-border .dropdown-menu a {
    border-bottom: 1px solid var(--dark-red);
}
.dropdown-filter-border .dropdown-menu a:last-child {
    border-bottom: 0;
}
.dropdown-filter-border.show .dropdown-menu {
    top: 50px !important;
    min-width: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.register-drp .dropdown-menu {
    margin-top: 20px;
    left: inherit !important;
    right: inherit !important;
}
.register-drp .dropdown-menu:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--off-white);
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

/*Button Style*/


/*Form&Field*/


.form-control {
    border: 1px solid #D6D6D6 !important;
    border-radius: 12px !important;
    padding: 5px 15px 5px 15px !important;
    height: 40px;
    color: var(--dark-red);
    font-size: 14px;
}
textarea.form-control {
    height: auto;
}
.form-control::placeholder {
    /*color: var(--dark-red);*/
    opacity: 1; /* Firefox */
}

/*.form-control:-ms-input-placeholder {
    color: var(--dark-red);
}

.form-control::-ms-input-placeholder {
    color: var(--dark-red);
}*/
.form-control:focus {
    border-color: var(--dark-red) !important;
    box-shadow: none;
    color: var(--dark-red);
}
.error-field .form-control {
    border: 1px solid var(--red);
}
.error-field .form-text {
    color: var(--red);
}
.form-group-vertical {
    display: flex;
}
.form-group-vertical label {
    min-width: 200px;
    max-width: 200px;
    margin: 0;
    padding: 10px 0;
}


.categories-main .category-products-form select,
.categories-main .ck.ck-toolbar,
.categories-main .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
.form-group-vertical .bootstrap-tagsinput,
.form-group-vertical .form-control {
    border: 1px solid #ccc !important;
}
.subscribe-field,
.search-field {
    position: relative;
    margin-bottom: 15px;
}
.subscribe-field input,
.subscribe-field input:focus,
.search-field input:focus,
.search-field input {
    width: 100%;
    border: 2px solid var(--dark-red) !important;
    height: 40px;
    padding: 12px 35px 10px 20px;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
}
.subscribe-field input {
    padding-right: 132px !important;
}
.search-field i,
.search-field input::placeholder {
    color: var(--dark-red);
    opacity: 0.6;
}
.search-field.active i,
.search-field.active input::placeholder {
    opacity: 1;
}
.search-field svg,
.subscribe-field a,
.search-field i {
    position: absolute;
    top: 11px;
    right: 15px;
}
.subscribe-field a {
    top: 5px;
    height: 30px;
    padding: 2px;
    right: 5px;
}
.dropdown-filter-field {
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    margin-bottom: 15px;
}
.dropdown-filter-field .search-field {
    flex: 1;
    opacity: 0.6;
}
.dropdown-filter-field .search-field input {
    border: 0 !important;
}
.dropdown-filter-field .search-field i,
.dropdown-filter-field .search-field input::placeholder {
    color: var(--dark-red) !important;
}
.dropdown-filter-field.active .search-field {
    opacity: 1;
} 


/*====Checkbox===*/

.checkbox-blk {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}
.checkbox-blk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--dark-red);
    border-radius: 4px;
    pointer-events: none;
}
.checkbox-blk input:checked ~ .checkmark {
    background-color: var(--red);
    border-color: var(--red);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-blk input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-blk .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*====Checkbox===*/

/*=== RadioBox===*/

.radiobox-blk .checkmark {
    border-radius: 22px;
}
.radiobox-blk.checkbox-blk input:checked ~ .checkmark {
    background-color: transparent;
}
.radiobox-blk.checkbox-blk input:checked ~ .checkmark:after {
    left: 0;
    width: 10px;
    height: 10px;
    transform: inherit;
    border-radius: 50%;
    border: 0;
    background-color: var(--red);
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*===========================*/

.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 30px;
  min-width: 62px !important;
  outline: none;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: var(--dark-red);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: var(--light-red);
}
.switch input:checked + .slider:before {
    background-color: var(--red);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  box-shadow: none;
  outline: 0;
}
.slider{
  outline: 0 !important;
  box-shadow: none !important;
}

.slider.round:before {
  border-radius: 50%;
}
/*===================*/

/*Form&Field*/





/*TABLE*/
.Yavolo-table table {
    font-size: 12px;
    line-height: 24px;
}
.Yavolo-table table thead tr th {
    background-color: var(--dark-red);
    color: var(--white);
    font-weight: 600;
    border: 0;
    line-height: 16px;
}
.Yavolo-table table thead tr th:first-child {
    border-radius: 8px 0px 0px 8px;
}
.Yavolo-table table thead tr th:last-child {
    border-radius: 0px 8px 8px 0px;
}
.Yavolo-table table tbody tr {
    border-bottom: 6px solid var(--bgWhite);
    border-top: 0;
}
.Yavolo-table table tr td {
    border: 0;
}
.Yavolo-table table tbody tr td {
    background-color: #ffff;
    line-height: 16px;
    color: var(--dark-red);
}
.Yavolo-table table tbody tr td:first-child {
    border-radius: 8px 0px 0px 8px;
}
.Yavolo-table table tbody tr td:last-child {
    border-radius: 0px 8px 8px 0px;
}
.Yavolo-table table tbody.seller-order tr td {
    vertical-align: top;
}
.Yavolo-table table tbody tr td.order-image {
    width: 60px;
    height: 45px;
}
.Yavolo-table table td span.order-checkmark {
    top: 0px !important;
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--dark-red);
    border-radius: 4px;
    pointer-events: none;
}
/*TABLE*/






/*Modal*/
.modal-backdrop {
    background-color: var(--dark-red);
}
.modal.show {
    display: flex !important;
    align-items: center;
}
.modal-dialog {
    width: 100%;
    max-width: 750px !important;
}
.modal-content {
    background-color: var(--off-white);
    border-radius: 12PX !important;
}
.modal-content h5 {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    font-size: 26px;
}
.modal-header .close {
    color: var(--dark-red);
    cursor: pointer;
    font-size: 33px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    opacity: 1;
    outline: none;
}
.csv-file-uploader {
    border-radius: 8px;
    border: 2px dashed var(--dark-red);
    position: relative;
}
.csv-file-uploader input {
    position: absolute;
    left: -104px;
    top: 0;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
    right: 0;
}
.border-none {
    border: none;
}
.modal-top-green-line .modal-content {
    border-top: 10px solid var(--green);
}
.modal-top-red-line .modal-content {
    border-top: 10px solid var(--defualt-red);
}
.modal {
    z-index: 55556;
}
.modal-backdrop {
    z-index: 55555;
}

/*Modal*/




/*CARDS*/


.rating li span.icon-star:before {
    color: #E0BD3E;
}
.rating li span.icon-star, 
.rateNo {
    opacity: 0.5;
}
.rating li.active span.icon-star {
    opacity: 1;
}
.pdp-card {
    margin-bottom: 30px;
    margin-top: 10px;
}
.pdp-card .pdp-img {
    border-radius: 12px;
    padding: 15px;
    background-color: #fff;
    min-height: 250px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #0000000A;
    position: relative;
}
.pdp-card .pdp-img .lable-tag {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -15px;
    display: flex !important;
    width: 120px;
    align-items: center;
    box-shadow: 1px 1px 2px #00000010;
    justify-content: center;
    height: 30px;
    align-items: center;
    line-height: 14px;
    padding-top: 2px !important;
    pointer-events: none;
}
.pdp-card .pdp-img .lable-tag .icon-Yavolo-top-seller-icon {
    font-size: 16px;
}
.pdp-card .pdp-img .lable-tag .icon-Yavolo-top-seller-icon:before {
    color: #fff;
}
.delivery-note span.icon-orders--delivery {
    font-size: 26px;
    margin-right: 20px;
}
.delivery-note span.icon-orders--delivery:before {
    color: var(--red);
}
.delivery-note .in-text {
    opacity: 0.8;
}
.pdp-card .pdp-body a {
    text-decoration: none !important;
}
.remove-btn .icon-remove:before {
    color: var(--dark-red);
}





.category-card {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.category-card span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000000a3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}
/*CARDS*/


.flex-1{
    flex: 1 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
