/*
@font-face {
    font-family: 'buenos_airesblack';
    src: asset-url('fonts/buenosaires-black-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbold';
    src: asset-url('fonts/buenosaires-bold-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbook';
    src: asset-url('fonts/buenosaires-book-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_aireslight';
    src: asset-url('fonts/buenosaires-light-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesregular';
    src: asset-url('fonts/buenosaires-regular-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airessemibold';
    src: asset-url('fonts/buenosaires-semibold-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesthin';
    src: asset-url('fonts/buenosaires-thin-webfont.woff2') format('woff2'),
         asset-url('fonts/buenosaires-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/


@font-face {
font-family:'BuenosAires';
src: url('fonts/BuenosAiresWeb-Black.woff2') format('woff2'),
     url('fonts/BuenosAiresWeb-Black.woff') format('woff');
font-weight: 800;
font-style: normal;
}



@font-face {
font-family:'BuenosAires';
src: url('fonts/BuenosAiresWeb-Bold.woff2') format('woff2'),
     url('fonts/BuenosAiresWeb-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family:'BuenosAires';
src: url('fonts/BuenosAiresWeb-Light.woff2') format('woff2'),
     url('fonts/BuenosAiresWeb-Light.woff') format('woff');
font-weight: 200;
font-style: normal;
}



@font-face {
font-family:'BuenosAires';
src: url('fonts/BuenosAiresWeb-Regular.woff2') format('woff2'),
     url('fonts/BuenosAiresWeb-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family:'BuenosAires';
src: url('fonts/BuenosAiresWeb-SemiBold.woff2') format('woff2'),
     url('fonts/BuenosAiresWeb-SemiBold.woff') format('woff');
font-weight: 600;
font-style: normal;
}


/*===============================================================*/
@font-face {
	font-family: 'icomoon';
	src:  url(asset-path('icomoon.eot?fdv9kq'));
	src:  url(asset-path('icomoon.eot?fdv9kq#iefix')) format('embedded-opentype'),
	  url(asset-path('icomoon.ttf?fdv9kq')) format('truetype'),
	  url(asset-path('icomoon.woff?fdv9kq')) format('woff'),
	  url(asset-path('icomoon.svg?fdv9kq#icomoon')) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }





@font-face {
font-family:'BuenosAires';
src: url(asset-path('BuenosAiresWeb-Black.woff2')) format('woff2'),
     url(asset-path('BuenosAiresWeb-Black.woff')) format('woff');
font-weight: 800;
font-style: normal;
}



@font-face {
font-family:'BuenosAires';
src: url(asset-path('BuenosAiresWeb-Bold.woff2')) format('woff2'),
     url(asset-path('BuenosAiresWeb-Bold.woff')) format('woff');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family:'BuenosAires';
src: url(asset-path('BuenosAiresWeb-Light.woff2')) format('woff2'),
     url(asset-path('BuenosAiresWeb-Light.woff')) format('woff');
font-weight: 200;
font-style: normal;
}



@font-face {
font-family:'BuenosAires';
src: url(asset-path('BuenosAiresWeb-Regular.woff2')) format('woff2'),
     url(asset-path('BuenosAiresWeb-Regular.woff')) format('woff');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family:'BuenosAires';
src: url(asset-path('BuenosAiresWeb-SemiBold.woff2')) format('woff2'),
     url(asset-path('BuenosAiresWeb-SemiBold.woff')) format('woff');
font-weight: 600;
font-style: normal;
}

