@font-face {
    font-family: 'buenos_airesblack';
    src: url('buenosaires-black-webfont.woff2') format('woff2'),
         url('buenosaires-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbold';
    src: url('buenosaires-bold-webfont.woff2') format('woff2'),
         url('buenosaires-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesbook';
    src: url('buenosaires-book-webfont.woff2') format('woff2'),
         url('buenosaires-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_aireslight';
    src: url('buenosaires-light-webfont.woff2') format('woff2'),
         url('buenosaires-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesregular';
    src: url('../fonts/buenosaires-regular-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airessemibold';
    src: url('../fonts/buenosaires-semibold-webfont.woff2') format('woff2'),
         url('../fonts/buenosaires-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'buenos_airesthin';
    src: url('buenosaires-thin-webfont.woff2') format('woff2'),
         url('buenosaires-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	background-color: #fdf8f3;
	margin: 0px;
	font-family: 'buenos_airesregular';
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'buenos_airessemibold';
}
/*========= utility classes============ */

.general-mrgn {
	margin: 30px 0;
}
.mx-80px {
	max-width: 80px;
}
.bg-normal {
	background-color: #FFD8DD !important;
	color: #FF3E55 !important;
	text-decoration: none;
}
.bg-red {
	background-color: #FF3E55 !important;
	color: #FFFFFF !important;
}
.bg-red:hover {
	background-color: #FFD8DD !important;
	color: #FF3E55 !important;
}
.bg-red-hvr:hover {
	background-color: #FF3E55 !important;
	color: #FFFFFF !important;
}
.red-color {
	color: #640529;
}
/*========= utility classes============ */


/*========= sign-in============ */
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
	flex: 1;
}







/*=============admin-Dashboard=======================*/
/* admin-header */
.admin-header {
	border-bottom: 1px solid black;
}
.admin-header-left a {
font-size: 22px;
color: #640529;
text-decoration: none;
}
.admin-header-right .nav-link {
	padding: 1rem 0;
	color: #640529;
}
.admin-header-right .rounded-circle {
	background-color: black;
}
.dropdown-profile {
	text-align: center;
	border-radius: 14px;
	width: 232px;
	padding: 20px;
	position: absolute;
    transform: translate3d(-61px, 5px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
	color: #640529;
}
.dropdown-profile-inner .user-img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: black;
	margin-bottom: 10px;
}
.dropdown-profile-inner .btn-link {
	border-radius: 20px;
	text-decoration: none;
}
/* admin-header */

.dashboard-page {
	display: flex;
	min-height: 100vh;
}
.dashboard-page .leftside {
	max-width: 280px;
	background-color: #640529;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	-moz-transition: .3s linear;
	-webkit-transition: .3s ease-out;
	transition: .3s linear;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 55;
	width: 100%;
}

.dashboard-page .leftside .sideheader {
	padding: 32px 32px 15px 32px;
	border-bottom: 1px solid #ffffff2e;
}
.dashboard-page .leftside .sideheader p {
	color: #F9EDE1;
	font-family: 'buenos_airesregular';
}
.dashboard-page .rightside {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	padding-left: 280px;
}
.sidebody {
	padding: 32px 12px 12px 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
.sidebody li a {
	display: flex;
	align-items: center;
	padding: 5px 20px 3px 20px;
	min-height: 54px;
	line-height: 16px;
	letter-spacing: 0px;
	color: #F9EDE1;
	text-decoration: none;
	-moz-transition: .3s linear;
	-webkit-transition: .3s ease-out;
	transition: .3s linear;
	border-radius: 12px;
}
.sidebody li.active a,
.sidebody li a:hover {
	background: var(--unnamed-color-731d3d) 0% 0% no-repeat padding-box;
	background: #731D3D 0% 0% no-repeat padding-box;
}
.add-listing-text {
	padding: 30px 0;
	color: #640529;
}
.seller-manual-product .form-group input {
	position: relative;
	height: 40px;
	color: #C09AA8;
	border-radius: 20px;
	border: none;
	padding-right: 50px;
}
.seller-manual-product .form-group span {
	position: absolute;
	right: 20px;
	top: 9px;
	color: #C09AA8;
}

/* .seller-manual-product .seller-product-table tbody tr td a:hover {
	background-color: #FFD8DD;
} */
.imglist {
	height: 45px;
	width: 45px;
	display: inline-flex;
	background-color: #eee;
}
/* .seller-manual-product .create-product {
	text-align: center;
	position: relative;
	padding: 40px 0;
} */
/* .seller-manual-product .prodct-brdr::after {
	content: "";
    display: block;
    height: 1px;
    background: #D5D5D5;
    left: 10%;
    right: 10%;
    bottom: 0px;
    position: absolute;
}
.border-right-1 {
	border-right: 1px solid #D5D5D5;
}
.border-right-1 .form-group {
	position: relative;
}
.seller-manual-product .create-product h5 {
	color: #640529;;
	font-size: 22px;
	text-align: center;
}
.seller-manual-product .create-product a {
	color: #FDF8F3;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background-color: #640529;
	padding: 12px 20px;

}
.seller-manual-product .create-product .btn {
	min-width: 232px;
	color: #FDF8F3;
	font-size: 14px;
	text-decoration: none;
	background-color: #640529;
	height: 40px;
	border-radius: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;

} */
/* .seller-footer {
	background-color: #F9EDE1;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}
.seller-footer ul li {
	padding-right: 20px;
	margin-right: 20px;
}
.seller-footer ul li a {
	text-decoration: none;
	color: #640529;
} */
.mx70 {
	max-width: 170px !important;
}
.overview-dropdown {
	border: none;
	border-bottom: 1px solid #640529;
	background: transparent;
	width: 215px;
	color: #640529;
	font-size: 14px;
	border-radius: 0;
	cursor: pointer;

}
.overview-dropdown:focus {
	outline: none;
	box-shadow: none;
	background-color: transparent;
	border-bottom: 1px solid #640529;

}

/* table */
 .seller-product-table .seler-table-header {

	color: #FEFCF9;
	font-size: 14px;
	font-weight: normal !important;
}
 .seller-product-table {
	height: 350px;
	overflow-y: auto;
}
 .seller-product-table .seler-table-header tr th {
	background-color: #640529;
	border-bottom: 4px solid #FDF8F3;
	position: sticky;
	top: 0;
}
 .seller-product-table tr {
	background-color: transparent !important;
}
 .seller-product-table tr td {
	border: 0;
	border-bottom: 4px solid #FDF8F3;
	background-color: #fff;
}
 .seller-product-table tr td:first-child,
 .seller-product-table .seler-table-header tr th:first-child {
	border-radius: 8px 0 0 8px !important;
}
 .seller-product-table tr td:last-child,
 .seller-product-table .seler-table-header tr th:last-child {
	border-radius: 0 8px 8px 0 !important;
}
 .seller-product-table .seler-table-header tr {
	width: 100%;
	height: 60px;
	align-items: center;
	border-radius: 10px;
}
 .seller-product-table .seler-table-header tr th {
	font-weight: normal;
	vertical-align: revert;
}
 .seller-product-table table td {
	padding: 10px 14px;
}
 .seller-product-table tbody tr {
	background-color: #FFFFFF;
	color: #640529;
	font-size: 12px;
}
 /*
  */
.imglist {
	height: 45px;
	width: 45px;
	display: inline-flex;
	background-color: #eee;
}
.fa-eye-icon {
	font-size: 16px;
	cursor: pointer;
}
/* table */



@media only screen and (max-width: 1024px)  {
	.dashboard-page .leftside {
	    width: 280px;
	    max-width: 280px;
	    background-color: #640529;
	    flex: 1;
	    display: flex;
	    flex-direction: column;
	    overflow-y: auto;
	    position: fixed;
	    z-index: 5;
	    left: -280px;
	}
	.dashboard-page .rightside {
		padding-left: 0;
	}
}
@media only screen and (max-width: 768px) {
	.seller-footer .seller-footer-inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.seller-footer .footer-policy ul {
		flex-direction: column;
		align-items: center;
	}
	.seller-footer .footer-policy ul li {
		padding: 20px 0;
	}
  }
/*=============admin-Dashboard=======================*/


/*/ ================Seller Success Hub ==============/*/
.seller-success-hub .seller-center-heading h3 {
    margin-top: 45px;
    color: #640529;
    font-size: 38px;
}
.seller-success-hub .seller-center-heading .request-heading-text {
    color: #640529;
    font-size: 16px;
    max-width: 480px;
    margin: auto;
    margin-bottom: 60px ;
}

.seller-order-board p {
	color: #640529;
	font-size: 16px;
	text-align: center;
	padding-top: 0;
	margin-bottom: 0 !important;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.seller-order-board .detail {
    align-items: center;
    text-align: center;
    color: #640529;
    font-size: 44px;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    height: 129px;
    padding: 37px 0;
    margin: 6px 0;
}






@media (min-width: 768px) {
	.seller-order-board .col-md-3 {
	    flex: 0 0 33.33%;
	    max-width: 33.33%;
	}
}
@media (min-width: 1025px) {
	.seller-order-board .col-md-3 {
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}
/* ================Seller Success Hub ==============*/


/* ==============Orders & Delivery ========*/
@media (max-width: 680px) {
	.wrapper-rd {
	    margin-top: 65px;
	    max-width: 100%;
	}
}
/* -===================admin-login ========================*/
.sign-in .mid {
	position: relative;
	color: #D5D5D5;
}
.logo-img {
	text-decoration: none;
	cursor: pointer;

}
.admin-login-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-login {
	min-height: auto;
}
.sign-in {
	width: 100%;
	min-height: 800px;
	margin-top: 70px;
	margin-bottom: 50px;
}
.admin-login {
	min-height: auto;
}
.super-admin-text {
	color: #640529;
	font-size: 20px;
	text-align: center;
}
.signin-logo .logo-inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: start;
}
.sign-in form {
	color: #640529;
	font-size: 16px;
	width: 100%;
	max-width: 476px;
	margin: auto;
}
.sign-in form input {
	border-radius: 12px;
	border: 1px solid #D6D6D6;
	width: 100%;
	height: 40px;
	font-size: 14px ;
	padding: 12px 14px;
	color: #AAAAAA;
	margin-left: 0px;

}
.sign-in form .forgt-text {
	text-decoration: none;
	color: #640529;
	font-size: 16px;
}
.sign-in form .login-btn {
	background-color: #640529;
	color: #F9EDE1;
	border-radius: 45px;
	border: none;
	font-size: 16px;
	padding: 1px 12px;
	height: 50px;
	cursor: pointer;
}
.sign-in form .login-btn:focus {
	outline: none;
	box-shadow: none;
}
.sign-in form .form-chrck-bt {
	overflow: hidden;
}

.signin-header .signin-logo img {
	width: 168px;
	height: 30px;
}




/*=========Admin-login============ */


.admin_filter_header{
	cursor: pointer;
	text-decoration: none;
}

/*=========Admin Categories======= */
.btn-text-color{
	color: white !important;
}

