
  <div class="text-center">
    <%= link_to "Preview", product_path(yavolo_item.handle, preview_listing: true), class: "btn btn-sm btn-radius px-4 btn-secondary w-100 mb-1 btn-light-hvr", target: "_blank" %>
  </div>
  <div class="text-center">
    <%# link_to 'View', delete_yavolo_admin_yavolos_manual_bundles_path(ids: [yavolo_bundle.id]), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary w-100 btn-light-hvr', data: {confirm: "Are you sure you want to delete this bundle?", method: :delete}  %>
  </div>
