/* ================== sprint-3 ================== */
/* pdp-header */
.main-header {
  background-color: #640529;
  box-shadow: 0px 3px 5px #0000001a;
  min-height: 115px;
}
.main-header .bg-light {
  background-color: #640529 !important;
}
.main-header .navbar-light .navbar-brand {
  padding: 0;
  margin: 0;
}
.main-header .navbar-brand img {
  width: 168px;
}
.main-header a.nav-link {
  color: var(--off-white) !important;
}
.main-header .form-inline {
  display: flex;
  width: 100%;
  position: relative;
}
.main-header .form-inline input:focus,
.main-header .form-inline input {
  flex: 1;
  background: #FDF8F3;
  border-radius: 20px;
  height: 36px;
  text-align: center;
  padding: 0 35px !important;
  color: var(--dark-red);
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 22px !important;
}
.main-header .form-inline input::placeholder {
  color: #C09AA8;
}
.main-header .form-inline a {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
  color: var(--dark-red) !important;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
}
.main-header .navbar-nav-icons li a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 36px;
  width: 36px;
  margin-left: 30px;
  border-radius: 50%;
  -moz-transition: .3s linear;
  -webkit-transition: .3s ease-out;
  transition: .3s linear;
}
.main-header .navbar-nav-icons li:first-child a.nav-link {
  margin-left: 0;
}
.main-header .inner-menu a {
  font-size: 14px;
  -moz-transition: .3s linear;
  -webkit-transition: .3s ease-out;
  transition: .3s linear;
  padding: 5px 10px;
  white-space: nowrap;
}
.main-header .inner-menu a:hover,
.main-header .navbar-nav-icons li a.nav-link:hover {
  border-color: #EC505A;
  color: #EC505A !important;
}







/* pdp-header */
.heart-icomoon {
  position: absolute;
  left: 0px;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.heading-subtitle {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #D5D5D5;
  font-size: 14px;
}
.heading-subtitle::after,
.heading-subtitle::before {
  content: "";
  display: inline-block;
  border-top: 1px solid #D5D5D5;
  flex: 1;
}
.heading-subtitle::before {
  margin-right: 10px;
}
.heading-subtitle::after {
  margin-left: 10px;
}
.payment-input {
  width: 100px;
}
.paypal-btn {
  background-color: #FFC439;
  border: 2px solid #FFC439 !important;
  color: #0D3883;
}
.gpay-btn {
  background-color: transparent;
  border: 2px solid #E8E8E8 !important;
  color: #5F6368;
}
.paypal-btn:hover {
  color: #0D3883;
}
.gpay-btn:hover {
  color: #5F6368;
}
.pay-btn {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 14px !important;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 5px !important;
}
.prcd-pay {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 14px !important;
  text-decoration: none !important;
  text-transform: uppercase;
}

/* product card==*/
/* .card-img img {
	width: 100%;
	object-fit: cover;
} */
.card-img {
  box-shadow: 1px 1px 5px #0000000a !important;
  padding: 10px !important;
  margin-bottom: 16px;
  max-width: 264px;
  height: 264px;
  border-radius: 12px !important;
  margin-right: 30px;
}
.search-field-flex {
  flex: 1;
}
.font-14px {
  font-size: 14px !important;
}
.font-10px {
  font-size: 10px;
}
/* product card==*/
.review-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 17px 14px;
  margin: 6px 8px !important;
}
.review-header {
  font-size: 16px;
  font-weight: 600;
}
.review-img img {
  object-fit: cover;
  width: 100%;
  max-width: 91px;
  height: 91px;
  border-radius: 10px;
  min-width: 91px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 6px #0000002b;
}

.rateNo {
  font-size: 12px;
  line-height: 10px;
  display: inline-block;
  padding: 5px !important;
}
.rev-und {
  border-bottom: 2px solid var(--red);
  font-size: 18px;
}
/* review-carousel */
.review-slider .carousel-arrow-parent {
  display: flex;
  position: absolute;
  right: 0;
  top: -35px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* color: #640529;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: var(--red) no-repeat center center !important;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  margin-left: 15px; */
}
.review-slider .carousel-control-prev-icon,
.review-slider .carousel-control-next-icon {
  background-image: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 15px; */
}
.review-slider .carousel-control-next, .review-slider .carousel-control-prev {
  position: static;
  width: 36px;
  height: 36px;
  color: var(--dark-red);
  background-color: var(--off-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  opacity: 1;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  width: 36px;
  height: 36px;
  color: var(--dark-red);
  background-color: var(--off-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  opacity: 1;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: var(--dark-red);
  transition: all 0.3s linear 0s;
  color: #fff;
}
.carousel-control-next:focus, .carousel-control-prev:focus {
  background-color: var(--dark-red) !important;
  color: #fff;
}
.product-slider-list .prev, .product-slider-list .next {
  cursor: pointer;
  position: absolute;
  top: 32%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  /* box-shadow: 1px 1px 5px #0000000a; */
  width: 36px;
  height: 36px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px 4px #0000000a;
}
.product-slider-list .next {
  right: 50px;
}
.product-slider-list .prev {
  left: 50px;
}
/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: var(--dark-red);
  color: #fff !important;
}
/* review-carousel */
.product-slider-list .myslides-img {
  width: 100%;
  height: 450px;
  max-width: 450px;
  margin: 0 auto;
  object-fit: contain;
}
.product-slider-list-img img {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.w3-opacity-off,
.product-slider-list-img img:hover {
  border: 2px solid var(--dark-red);
}

.yo-offwhite-card {
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: 1px 1px 5px #0000000A;
  margin-bottom: 20px;
}
.pdp-pad .slick-slide {
  margin: 0 14px;
}
/* slick-slider */
.pdp-slick-slider .slick-list {
  margin: 0;
}
.pdp-slick-slider .bundling-main-img {
  min-height: 190px;
}
.pdp-slick-slider .slick-list {
  margin: 0;
}
.pdp-slick-slider .bundling-main-img {
  min-height: 190px;
}
.slick-prev,
.slick-next {
  border-radius: 50%;
  color: #640529;
  background-color:#eee0d3;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  overflow: hidden;
}
.pdp-slick-bg.yo-offwhite-card .slick-prev,
.pdp-slick-bg.yo-offwhite-card .slick-next {
  top: 0;
  bottom: 0;
  margin: auto;
}
.pdp-slick-bg.yo-offwhite-card .slick-prev {
  left: 20px;
}
.pdp-slick-bg.yo-offwhite-card .slick-next {
  right: 20px;
}
.slick-next:before,
.slick-prev:before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e916";
  position: absolute;
  color: #640529;
  background-color:#eee0d3;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.slick-next:hover::before,
.slick-prev:hover::before {
  background-color: #640529 !important;
  color: #fff !important;
  transition: all 0.3s linear 0s;
}
.slick-next:before {
  content: "\e917";
}
.slick-arrow:focus {
  outline: none;
}
.pdp-label-tag {
  margin-top: -25px;
  pointer-events: none;
  letter-spacing: 2px;
  font-size: 20px;
}
/* slick-slider */
.pdp-review-vertical-slider,
.pdp-nbg-slick-slider {
  /* margin-top: 50px; */
  margin-bottom: 30px;
}
.pdp-review-vertical-slider .slick-prev,
.pdp-review-vertical-slider .slick-next,
.pdp-nbg-slick-slider .slick-prev,
.pdp-nbg-slick-slider .slick-next {
  position: absolute !important;
  top: -76px !important;
}
.pdp-review-vertical-slider .slick-next,
.pdp-nbg-slick-slider .slick-next {
  right: 12px !important;
}
.pdp-review-vertical-slider .slick-prev,
.pdp-nbg-slick-slider .slick-prev {
  right: 61px !important;
  left: inherit !important;
  margin-left: 20px;
}
.paypal-icon img {
  width: 140px;
}
.pay-blue {
  color: #0D3883;
  font-size: 20px;
}
.decoration-none {
  text-decoration: none !important;
}
.subscribe-bottom {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--off-white);
  margin-top: 30px;
}
.pay-cards {
  width: 60px;
  height: 31px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-cards img {
  max-height: 100%;
}
/* pdp-drop */
.pdp-drop .dropdown-filter {
  background-color: #fff;
  border-radius: 20px;
}
.pdp-drop .dropdown-filter :hover ,.pdp-drop .show .btn-link-dropdown, .pdp-drop .btn-link:hover.dropdown-filter:hover {
  background-color: #fff !important;
  border-radius: 20px;
}
.pdp-drop .dropdown-filter.show .dropdown-menu {
  background-color: #fff;
  min-width: 40px !important;
  padding: 6px 0px !important;
}
.pdp-drop .dropdown-filter.show .dropdown-menu a{
  padding: 6px 12px;
}
.pdp-drop .dropdown-filter.show .dropdown-menu:hover {
  border-radius: 0;
}
.pdp-drop .dropdown-filter.show .btn-link-dropdown {
  border-radius: 12px 12px 0 0 !important;
}
.pdp-drp-input {
  width: 30px;
  border: 0;
  font-size: 12px;
  color: var(--dark-red);
}
.pdp-drp-input:focus {
  outline: none;
  box-shadow: none;
}
.pdp-drp-input::-webkit-outer-spin-button,
.pdp-drp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* pdp-drop */

/* collapse */
.pdp-collapse .card {
  background-color: transparent;
  border: none;
}
.pdp-collapse .card-header .btn-link {
  width: 100%;
  opacity: 1;
}
.pdp-collapse .card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent !important;
  border-bottom: 0;
}
.pdp-collapse .card-header .btn-link {
  font-size: 18px;
  border: 1px solid transparent;
  padding: 13px 20px !important;
  font-weight: 600;
}

.pdp-collapse .card-header button.collapsed {
  background-color: transparent;
  border-color: transparent;
}
.pdp-collapse .card-header button {
  background-color: var(--off-white);
  border-color: var(--off-white);
  color: var(--dark-red);
}

.pdp-collapse .card-header button.collapsed .chev-colps {
  transform: rotate(0deg);
  -webkit-transition: .4s;
  transition: .4s;
}
.pdp-collapse .card-header button .chev-colps {
  transform: rotate(180deg);
  -webkit-transition: .4s;
  transition: .4s;
}
.pdp-collapse .chev-colps {
  font-size: 8px;
}
/* quantity-dropdn */
.quantity-dropdown {
  display: inline-block;
  position: relative;
}
.quantity-dropdown .btn.dropdown-toggle {
  background-color: #fff;
  color: var(--dark-red);
  width: 100%;
  text-align: left;
  border: 1px solid #FCF8F4;
  border-radius: 25px;
  position: relative;
  box-shadow: none;
  outline: none !important;
  border: 0 !important;
}
.quantity-dropdown .btn.dropdown-toggle:active {
  color: inherit;
  background-color: #fff;
  // Getting error in SCSS so commented below line as designer told to fix it later!
  //box-shadow: 0 0 0 0.2rem rgb(134 142 150 / 0%);
  border-color: inherit;
  border: inherit;
}
.quantity-dropdown .btn.dropdown-toggle:focus {
  outline: none;
}
.quantity-dropdown .dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 18px;
}
.quantity-dropdown .dropdown-menu {
  width: 100%;
  top: 0;
  left: 0;
  border: 0;
}
.quantity-dropdown .dropdown-menu.show {
  border-radius: 0 0 19px 19px;
  left: 0px !important;
  top: 36px !important;
  transform: inherit !important;
}
.quantity-dropdown .dropdown-menu .dropdown-item:first-child {
  border-top: 1px solid #cccccc7a;
}
.quantity-dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #cccccc7a;
}
.quantity-dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: 0;
}
.quantity-dropdown .dropdown-menu .dropdown-item span {
  padding: 0 10px 0 10px;
  min-height: 27px;
  display: flex;
  align-items: center;
  line-height: 16px;
  border-radius: 23px;
}
.quantity-dropdown .dropdown-menu .dropdown-item {
  background-color: inherit;
}
.quantity-dropdown .dropdown-menu .dropdown-item:hover span {
  background-color: #FFD8DD;
}
.quantity-dropdown .btn input,
.quantity-dropdown .dropdown-menu .dropdown-item {
  font-size: 16px !important;
  color: #A2697E;
  font-weight: 600;
}
.quantity-dropdown .dropdown-menu .dropdown-item:active {
  background-color: #fff;
  color: #A2697E;;
}
.quantity-dropdown .btn input::-webkit-outer-spin-button,
.quantity-dropdown .btn input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-dropdown .btn input {
  width: 50px;
  border: 0;
  padding-left: 5px;
}
.quantity-dropdown .btn input:focus {
  outline: none;
}
.quantity-dropdown.show .btn:after {
  transform: rotate(180deg);
}
.quantity-dropdown .btn:after{
  -moz-transition: .3s linear;
  -webkit-transition: .3s ease-out;
  transition: .3s linear
}
.quantity-dropdown.show .btn {
  border-radius: 19px 19px 0 0;
}
.quantity-dropdown label.error {
  position: absolute;
  min-width: 180px;
  left: 105px;
  top: 7px;
}

/* items-basket */
.item-basket .toggler { display: none; }
.item-basket .toggler + label + div { display: none; }
.item-basket .toggler:checked + label + div { display: block; }
.item-basket .dropdown-toggle::after {
  -webkit-transition: .4s;
  transition: .4s;
  display: inline-flex;
}
.item-basket .toggler + label span {
  display: flex;
  align-items: center;
}
.item-basket .toggler:checked + label span .dropdown-toggle::after {
  transform: rotate(180deg) !important;
}
/* items-basket */

/* footer */

.pdp-footer {
  background-color: var(--dark-red);
  color: var(--off-white);
  padding: 50px 0 30px 0px;
}
.pdp-footer .logo-img {
  width: 210px;
}
.pdp-footer .pdp-footer-list-1 {
  display: flex;
  flex-wrap: wrap;
}
.pdp-footer .pdp-footer-list-1 li {
  margin-right: 0px;
  padding-bottom: 0 !important;
}
.pdp-footer .pdp-footer-list-1 li .footer-svg {
  background-color: #fff;
  border-radius: 4px;
  width: 91px;
  height: 32px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 28px;
  margin-bottom: 8px;
  margin-top: 10px;
}
.pdp-footer .pdp-footer-list-1 li:nth-child(3) svg {
  width: 52px;
}

.pdp-footer .pdp-footer-list-1 li .socio-icon {
  font-size: 22px;
  padding-right: 0 !important;
  padding: 0;
  margin-right: 25px !important;
  margin-top: 5px !important;
  display: inline-block;
}
.pdp-footer .pdp-footer-list li a:hover {
  color: #EC505A !important;
  text-decoration: none;
  transition: .3s linear;
}
/* footer */
@media screen and (max-width: 1025px) {
  .product-slider-list .prev, .product-slider-list .next {
    top: 41% !important;
  }
  .pdp-pad {
    padding: 0 15px !important;
  }




}
@media only screen and (max-width: 1024px) {
  .navbar-light .navbar-toggler {
    background-color: #fff;
  }
  .main-header .navbar-collapse {
    padding: 15px 0 0 0;
  }
  .navbar-nav-icons {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }
  .main-header .inner-menu {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 767px) {
  .main-header .inner-menu {
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
@media screen and (max-width: 991px) {
  .heart-icomoon {
    position: inherit;
  }
  .slick-slide {
    margin: 0 8px;
  }
}
@media screen and (max-width: 600px) {
  .pdp-pad {
    padding: 0 20px;
  }
  .product-slider-list .prev, .product-slider-list .next {
    top: 37%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider-list .myslides-img {
    width: 100%;
    height: 250px;
    max-width: 250px;
  }
  .product-slider-list-img img {
    padding: 2px;
  }
  .product-slider-list .prev {
    left: 25px;
  }
  .product-slider-list .next {
    right: 25px;
  }
  .review-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  /* .carousel-control-next, .carousel-control-prev, */
  .slick-prev, .slick-next {
    display: none !important;
  }
  .pdp-slick-bg {
    padding: 0 !important;
  }
  .review-img img {
    min-width: 44px;
    height: 44px;
  }
  .similar-page-pd {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}

// adding a missing styling for footer links starts
.pdp-footer .pdp-footer-list li a {
  color: var(--off-white);
  font-size: 16px;
  // margin-bottom: 29px;
}
// adding a missing styling for footer links ends

/* single-product-slider */
.pdp-drag-slider {
  margin-bottom: 20px;
}
#main-slider img {
  margin: 0 auto;
  display: block;
  width: 100%;
}
#main-slider .splide__arrow svg {
  fill: var(--dark-red);
}
#main-slider .splide__arrow {
  background-color: #fff;
  box-shadow: 3px 3px 8px #0000000f;
  box-shadow: 3px 3px 5px 3px #0000000f;
}

#main-slider {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 8px #0000000f;
  border-radius: 12px;
  min-height: 554px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#thumbnail-slider ul {
  justify-content: center;
}
#thumbnail-slider ul li {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000B;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 91px !important;
  width: 91px !important;
}
.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active,
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border: 2px solid var(--dark-red) !important;
  opacity: 1 !important;
}

.single-product h4.black-text {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 17px;
}
.single-product h3.black-text {
  font-size: 38px;
  line-height: 38px;
}
.single-product .text-14 {
  font-size: 14px;
}
.single-product .review-card {
  margin: 18px 0px !important;
}
.pdp-collapse {
  margin-left: 0;
  margin-right: 0;
}
.heading-pdp-rd {
  position: relative;
  margin-bottom: 40px !important;
}
.heading-pdp-rd h5 {
  letter-spacing: 1px;
}
.heading-pdp-rd .similar-page-pd {
  position: absolute;
  right: 161px;
  margin: 0 !important;
  opacity: 0.6;
}
.subscribe-field input {
  min-height: 40px;
}
.buyer-layout .btn {
  font-weight: 600;
}
.buyer-layout .container-fluid {
  max-width: 1230px;
}
.pdp-slick-bg {
  padding: 0 80px;
  position: relative;
}
.pdp-slick-bg .slick-slider {
  position: static;
}
.center-placing .pdp-slick-bg,
.review-slider .pdp-slick-bg {
  padding: 0 !important;
  margin-left: -14px !important;
  margin-right: -14px !important;
}
.mx632 {
  max-width: 632px;
}
.col-change .col-54 {
  -ms-flex: 0 0 46.3%;
  flex: 0 0 46.3%;
  max-width: 46.3%;
}
.col-change .col-46 {
  -ms-flex: 0 0 53.7%;
  flex: 0 0 53.7%;
  max-width: 53.7%;
}
.show-2xlarge-screen {
  display: none;
}
.show-large-screen {
  display: block;
}
.show-large-screen .pdp-card {
  max-width: 448px;
  margin: auto;
}
.show-large-screen .col-lg-3 .pdp-card {
  max-width: 210px;
  margin: auto;
}
.show-large-screen .pdp-imges-single {
  min-height: 448px !important;
}
.cart-header-notification {
  color: var(--off-white);
  font-size: 12px;
  background-color: var(--red);
  width: 16px;
  height: 16px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -6px;
}

.pdp-specification-table {
  border: 1px solid var(--dark-red);
  margin: 22px;
}
.pdp-specification-table table td {
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-red);
  border: 0;
  padding: 18px;
}
.pdp-specification-table .table-striped tbody tr:nth-of-type(even) {
  background-color: var(--off-white);
}
.pdp-specification-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}
.pdp-price {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.pdp-slick-slider-1 {
  padding: 40px 0 20px 0;
}
.review-slider {
  margin-bottom: 20px;
}
.review-slider .review-card {
  padding: 17px 14px !important;
}
.review-slider .slick-slide {
  margin: 0 14px !important;
}
.subscribe-bottom-inner h3 {
  font-size: 38px;
}
.subscribe-bottom-inner p {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.subscribe-bottom-inner .dropdown-filter-field .search-field {
  opacity: 1 !important;
}
.subscribe-bottom-inner .dropdown-filter-field .search-field input::placeholder {
  color: #E0CDD4 !important;
  opacity: 1; /* Firefox */
}

.subscribe-bottom-inner .dropdown-filter-field .search-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #E0CDD4 !important;
}

.subscribe-bottom-inner .dropdown-filter-field .search-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #E0CDD4 !important;
}
.subscribe-bottom-inner .subscribe-field a {
  font-weight: 600;;
}

.pdp-review-tab .review-card {
  margin: 0 24px 15px 24px !important;
}

.delivery-note .in-text {
  font-size: 12px !important;
  opacity: 1 !important;
  font-weight: 600;
}
.sold-text .in-text {
  position: relative;
  top: 3px;
  left: -5px;
}
.dollar-img {
  position: relative;
  left: -10px;
}
.pdp-cart h3 {
  font-size: 48px;
  margin: 20px 0;
}
.pdp-cart .title h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}
.pdp-cart .sold-pdp-text {
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 26px;
}
.pdp-cart .text-icons-group {
  margin: 20px 0;
}
.pdp-cart .text-with-icon {
  margin-right: 22px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.save-later .red-text {
  display: flex;
  align-items: center;
}
.pdp-cart .text-with-icon .icon-remove {
  font-size: 18px;
}
.pdp-cart .text-with-icon svg,.text-with-icon span {
  margin-right: 10px !important;
  padding-left: 0 !important;
}
.pdp-cart .cart-item-products {
  margin-bottom: 20px;
}
.pdp-cart .price h5 {
  font-size: 24px;
  font-weight: 600;
}
.pdp-cart .your-detail-right {
  max-width: 363px;
  margin: auto;
  margin-right: 0;
}
.pdp-cart .your-detail-right h6 {
  font-size: 20px;
  margin-top: 6px;
}
.pdp-cart .your-detail-right .checkbox-blk {
  padding-left: 52px;
}
.pdp-cart .your-detail-right .checkmark {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}
.pdp-cart .your-detail-right .radiobox-blk.checkbox-blk input:checked ~ .checkmark:after {
  height: 20px;
  width: 20px;
}
.pdp-cart .your-detail-right .pay-cards {
  width: 96px;
  height: 36px;
  padding: 6px;
}
.pdp-checkout .sb-total,
.pdp-cart .your-detail-right .sb-total {
  font-size: 18px;
  padding: 8px 0;
  margin: 0 !important;
} 
.pdp-checkout .sub-main-total,
.pdp-cart .sub-main-total {
  padding: 10px 0;
  border-top: 1px solid #E8E8E8;
}
.pdp-cart .wieight600 {
  font-weight: 600;
}
.pdp-checkout .your-detail-right .btn.btn-lg,
.pdp-cart .your-detail-right .btn.btn-lg {
  letter-spacing: 1.6px;
}
.mtop-28 {
  margin-top: 32px;
}

.pdp-checkout .form-group label {
  font-size: 16px;
}
.pdp-checkout .form-group {
  margin-bottom: 20px;
}
.pdp-checkout .form-group input::placeholder {
  color: #aaaaaa !important;
  opacity: 1; /* Firefox */
}

.pdp-checkout .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaaaaa !important;
}

.pdp-checkout .form-group input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaaaaa !important;
}
.pdp-checkout .mm-text.total-product-count {
  color: #A2697E !important;
}
.delivery-note .text-12 {
  font-size: 12px !important;
}
.pdp-slick-bg .pdp-body a.btn {
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.bundling-tabs-links li a {
  font-size: 18px;
}

@media screen and (min-width: 1536px) {
  .modal-xxl .modal-dialog {
    max-width: 1024px !important;
  }
  .show-large-screen {
    display: none;
  }
  .show-2xlarge-screen {
    display: block;
  }
  .buyer-layout .container-fluid {
    max-width: 1430px;
  }
  .col-change .col-54 {
    -ms-flex: 0 0 53.64%;
    flex: 0 0 53.64%;
    max-width: 53.64%;
  }
  .col-change .col-46 {
    -ms-flex: 0 0 46.36%;
    flex: 0 0 46.36%;
    max-width: 46.36%;
  }
  .main-header .form-inline {
    max-width: 924px;
  }
  .pdp-slick-bg {
    margin: 0 -140px;
    padding: 0 126px;
  }
  #main-slider {
    min-height: 752px;
  }
  .pdp-review-vertical-slider .slick-prev,
  .pdp-nbg-slick-slider .slick-prev {
    right: -28px !important;
    left: inherit !important;
    margin-left: 20px;
  }
  .pdp-review-vertical-slider .slick-next,
  .pdp-nbg-slick-slider .slick-next {
    right: -78px !important;
  }
  .pdp-slick-bg.yo-offwhite-card .slick-prev {
    left: 50px;
  }
  .pdp-slick-bg.yo-offwhite-card .slick-next {
    right: 50px;
  }
  .heading-pdp-rd .similar-page-pd {
    right: 61px;
  }
  .pdp-collapse {
    margin-left: -25px;
    margin-right: -25px;
  }
  .pdp-cart .your-detail-right {
    max-width: 448px;
  }
}
@media screen and (max-width: 767px) {
  #main-slider {
    min-height: 500px;
    margin-bottom: 10px;
  }

}
@media screen and (max-width: 360px) {
  #thumbnail-slider ul {
    justify-content: flex-start;
  }
}
/* single-product-slider */

/* ================== sprint-3 ================== */
