<p id="paypal-integration-success" class="flash-toast notice">
  PayPal Integrated Successfully
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>
<p id="paypal-integration-failure" class="flash-toast notice">
  PayPal Integration Failed. Please Try Again!
  <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
</p>