<div class="row bundle-block-pad align-items-center one-to-three">
  <div class="col-8">
    <div class="yo-white-card">
      <%= image_tag featured_images[0].name.url %>
    </div>
  </div>
  <% if featured_images.size > 1 %>
    <div class="col-4 d-flex justify-content-between flex-column">
      <% (1...featured_images.size).each do |i| %>
        <div class="yo-white-card">
          <%= image_tag featured_images[i].name.url, class: "mr-0 my-4" %>
        </div>
      <% end %>
    </div>

  <% end %>

</div>
