.seller-footer .countries-currency li {
	border-right: 1px solid #640529;
}

.seller-layout .sideheader .logo {
	width:168px;
}

/* =======Add new seller-50 ========*/
@media (max-width: 480px) {
	.form-group-vertical-responsive {
	    display: unset !important;
	}
}
/* =======Add new seller-50 ========*/