<footer class="" style="background-color: #F9EDE1">
    <div class="container-fluid">
        <div class="signin-footer">
            <span>
                <%= image_tag "Yavolo_Logo_WarmRed.png" %>                
            </span>
        </div>
    </div>
  </footer>